<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">{{hometitle}} <br> {{homesectitle}}</h2>
        <p data-aos="fade-up" data-aos-delay="100">{{homedesc}}</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#book-a-table" class="btn-book-a-table">{{homebuttontext}}</a>
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i [className]="homeicon"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img [src]="homeimg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->
<app-about></app-about>
<app-whychooseyummy></app-whychooseyummy>
<app-counter></app-counter>
<app-menu></app-menu>
<app-testimonials></app-testimonials>
<app-events></app-events>
<app-chef></app-chef>
<app-bookatable></app-bookatable>
<app-gallery></app-gallery>
<app-contact></app-contact>
