<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <a href="#about" class="btn-get-started scrollto">{{btn}}</a>
  </div>
</section>


<app-client></app-client>
<app-About></app-About>
<app-Timing></app-Timing>
<app-why></app-why>
<app-Calltoaction></app-Calltoaction>
<app-Service></app-Service>
<app-Portfolio></app-Portfolio>
<app-Testing></app-Testing>
<app-Team></app-Team>
<app-Contacts></app-Contacts>
