<div class="section trending">
  <div class="container">
    <div class="row" *ngFor="let data of tred">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>{{ data?.label }}</h6>
          <h2>{{ data?.label2 }}</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a [attr.href]="data?.routerlink">{{ data?.link }}</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" *ngFor="let treading of treders">
        <app-innertreadingbox [treading]="treading"></app-innertreadingbox>
      </div>
    </div>
  </div>
</div>
