@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="about-us" class="network-sec">
    <div class="container">
        <div class="section_heading">
            <h4>Leading Network</h4>
        </div>
        <div class="row justify-content-center pt-5 mt-4">
            <div class="col-md-6 net-left-width">
                <div class="net-left-part">
                    <div class="net-first-no-part">
                        <div class="net-first-no">
                            <span>№ <br />1</span>
                        </div>
                        <div class="net-first-text">
                            <p>The vast majority of Revolution is operated on the car parks of general and specialized supermarkets, shopping centres, gas stations or camp sites.</p>
                        </div>

                    </div>
                    <div class="net-left-sec-part py-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae esse in natus numquam quibusdam quod suscipit tempore veritatis. Aliquid facere facilis illo magni ratione recusandae sint voluptatem voluptates?</p>
                    </div>
                    <div class="net-left-third-part pt-5 pb-4">
                        <p>Adipisci architecto beatae esse in natus numquam quibusdam</p>
                    </div>
                    <div class="net-left-fourth-part pb-4">
                        <p>Thanks to the concept of Revolution laundry, you soon become an entrepreneur and develop a business better than a franchise.</p>
                    </div>
                    <div class="net-left-btn">
                        <button class="btn btn-primary"> Live Demos</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 justify-content-end">
                <div class="net-right-part">
                    <img src="~/Content/image/washing-machine-thumb.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-11 comman-sec accordion_section">
    <div class="container">
        <div class="section_heading">
            <h4>Ready to enjoy clean space?</h4>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-9">
                <div class="faq-left-part">
                    <div class="acc-head-part">
                        <h4>We help you keep your clean and safe.</h4>
                    </div>

                    <div class="accordion_box_wrap">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        How to create more items in this list?
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The number of items is limited in this block. Open the Block parameters to change the amount of items: Level №1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        How to create more items in this list?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The number of items is limited in this block. Open the Block parameters to change the amount of items: Level №1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        How to create more items in this list?
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The number of items is limited in this block. Open the Block parameters to change the amount of items: Level №1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        How to create more items in this list?
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The number of items is limited in this block. Open the Block parameters to change the amount of items: Level №1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                        Level №4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem et id labore nobis.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="chois-sec">
    <div class="container">
        <div class="section_heading">
            <h4>Best Choice</h4>
        </div>
        <div class="row justify-content-center mt-5 pt-3">
            <div class="col-md-6">
                <div class="choice-sec-left">
                    <div class="choice-sec-title">
                        <h4>We help you keep<br /> your space clean<br /> and safe.</h4>
                        <p class="chois-mid"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae esse in natus numquam quibusdam quod suscipit tempore veritatis. Aliquid facere facilis illo magni ratione recusandae sint voluptatem voluptates?</p>
                    </div>
                    <div class="choi-grid-count">
                        <div class="choi-grid-box">
                            <span>5+</span>
                            <h6>Years Experience</h6>
                            <p class="chois-mid">All of our cleaning staff are fully trained and insured to take care of your home</p>
                        </div>
                        <div class="choi-grid-box">
                            <span>100+</span>
                            <h6>Homes Cleaned</h6>
                            <p class="chois-mid">We take excellent care of every condo, house and townhouse</p>
                        </div>
                        <div class="choi-grid-box">
                            <span>100+</span>
                            <h6>Satisfaction</h6>
                            <p class="chois-mid">We're a small company with a big heart, proud to serve our local community.</p>
                        </div>
                    </div>
                    <p class="choise-para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae esse in natus numquam quibusdam quod suscipit tempore veritatis. Aliquid facere facilis illo magni ratione recusandae sint voluptatem voluptates?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="choice-sec-left">
                    <img src="~/Content/image/image6.jpg" class="img-fluid" alt="">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 px-5">
                <div class="bestchoi-bootom-part-bg">
                    <div class="bestchoi-bootom-part">
                        <div class="icon-part">
                            <img src="~/Content/image/energy-white-icon.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="head-part">
                            <h6 class="mb-0">
                                Best Choice for Cleaning
                            </h6>
                        </div>
                        <div class="head-text">
                            <p class="mb-0"> We help you keep your space clean and safe.<br /> We're a small company with a big heart, proud to serve our local community</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>