@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="contact" class="contact_bg">
    <div class="container">
        <div class="contact_section pt-5">
            <div class="section_heading">
                <h4>Contacts</h4>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <div class="cont-inner-box-grid">
                        <div class="cont-box-1-bg">
                            <div class="cont-box1-icon-part">
                                <i class="las la-phone"></i>
                            </div>
                            <div class="cont-box1-text-part ">
                                <h5>Phone</h5>
                                <p>0 (800) 123 45 67</p>
                            </div>
                        </div>
                        <div class="cont-box-1-bg">
                            <div class="cont-box1-icon-part">
                                <i class="las la-envelope"></i>
                            </div>
                            <div class="cont-box1-text-part ">
                                <h5>Email</h5>
                                <p>info@site.com</p>
                            </div>
                        </div>
                        <div class="cont-box-1-bg">
                            <div class="cont-box1-icon-part">
                                <i class="las la-globe"></i>
                            </div>
                            <div class="cont-box1-text-part ">
                                <h5>Address</h5>
                                <p>4100 Ross street, okawville,IL</p>
                            </div>
                        </div>
                        <div class="cont-box-1-bg">
                            <div class="cont-box1-icon-part">
                                <i class="las la-list-ul"></i>
                            </div>
                            <div class="cont-box1-text-part ">
                                <h5>Working Hour</h5>
                                <p>9:00-18:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>