<h1>Hello World</h1>
<h2>{{ title }}</h2>
<h1>{{ name }}</h1>
<h2>{{ get() }}</h2>
<h1>{{ obj.bookname }}</h1>
<h1>{{ arr }}</h1>
<h1>{{ SiteUrl }}</h1>
<app-user-list></app-user-list>
<app-signup></app-signup>
<button (click)="Myevent('this is click event')">click me!</button><br />
<br />
<br />
<input type="text" #box (keydown.enter)="Myevent(box.value)" />
<br /><br />
<input type="text" #box (keydown)="Myevent(box.value)" />
<br /><br />
<input type="text" #box (keyup)="Myevent(box.value)" />
<br /><br />
<input type="text" #box (keyup.space)="Myevent(box.value)" />
<br /><br />
<input type="text" #box (blur)="Myevent('blur event')" />
<h1 style="background-color: aqua" (mouseover)="Myevent('mouseover')">
  mouse event
</h1>
<h1
  style="background-color: rebeccapurple"
  (mouseenter)="Myevent('mouseenter')"
>
  mouse event
</h1>

<br />
<input type="text" #box />
<button (keyup)="Myevent(box.value)">click</button>
