.box {
  height: 300px;
  width: 300px;
  background-color: tomato;
  border-radius: 5%;
  box-shadow: 7px 7px 7px lightgrey;
}

tfoot {
  text-align: left;
}
table,
td,
th {
  border: 1px solid #c4dcf3;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #eef7ff;
}
th {
  background-color: #427fef;
}
