article :first-of-type {
  font-size: 500%;
  font-style: italic;
  color: brown;
}
article p:last-child {
  font-weight: bold;
  font-size: 500%;
}
ul li:nth-child(odd) {
  color: deeppink;
  font-size: 700%;
}
a:visited,
a:link {
  color: blue;
}
a:hover,
a:focus {
  color: cadetblue;
}
.first-letter {
  font-size: 500%;
  font-weight: bold;
}
