body {
  padding: 100px;
}
.highlight {
  color: blue !important;
  font-size: 400%;
}
#product {
  color: green;
}
strong {
  color: initial;
  font-size: 200%;
  border: inherit;
}
p {
  color: aqua;
  border: 1px solid black;
}
.box {
  height: 200px;
  width: 200px;

  background: rgb(19, 8, 236);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(138, 14, 81, 1) 35%
  );
  border: 10px dashed royalblue;

  box-shadow: 10px 10px 30px grey;
}
.box {
  height: 200px;
  width: 200px;

  background: coral;
  border: 10px dashed royalblue;

  box-shadow: 10px 10px 30px grey;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
