<section id="team" class="team">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
          <h2>Team</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
        </div>
      </div>
     
      <div class="col-lg-8">
     
       
          
          <app-teambox [value] = "team | async" class="team-bow-grid"></app-teambox>  
      </div>
    </div>  
     </div>
 



</section><!-- End Team Section -->
