
@{
	ViewBag.Title = "Cities";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cities" class="cities">
	<div>
		
		<img src="~/Content/image/map.png"  class="img-fluid" alt="">
	</div>
	<div class="container">
		<div class="box-2">
			<h5 class="box2-title pb-4">Address</h5>
			<div class="box2-add pb-4">
				<h6>Montreal</h6>
				<p>
					5505 Boul St-Laurent #2000,<br />
					Qc H2T 1S6, Canad
				</p>
			</div>
			<div class="box2-pho pb-3">
				<h6>Ph:+(123)456-78-90</h6>
			</div>
			<div class="box2-time">
				<h6>Saturday Sep 12th,2020:</h6>
				<p>
					12:00pm -6:00pm<br />
					Gate opens at 11am
				</p>
			</div>
		</div>
	</div>
</section>

