
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="Home">
	<div class="container">
		<div class="row justify-content">
			<div class="col-md-6">
				<div class="sec1-row1-left">
					<span class="play_icon">

						<img src="~/Content/image/play.png" class="img-fluid" alt="">
					</span>
					<h6><b>Play Promo</b></h6>
				</div>
			</div>
			<div class="col-md-6">
				<div class="sec1-right-display">
					<div class="sec2-row2-right">
						<h6>World's Happiest Event</h6>
						<h3>Festival of<br />Colors</h3>
					</div>
					<div class="sec-2-row2-right-boxbg">
						<div class="sec2-right-boxbg-inner">
							<p>
								Saturday Sep<br />
								12th, 2020<br />
								Gate opens<br />
								at 11am
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sec1-box">
			<h6>About</h6>
			<p>
				The Festival of Colors is a vibrant festival full of music , dancing
				and throwing organic color powders to faster love and friendship.
			</p>
		</div>
	</div>
</section>
<section id="media" class="slider-sec-img slider-bg">
	<div class="container">
		<div class="slider-part-inner">
			<div class="slider-inner-tilte text-center">
				<h2>As it was before</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia sequi omnis error,<br /> porro obcaecati <b>aut temporibus voluptates.</b> Qui, rem!
				</p>
			</div>
		</div>
	</div>
	<div class="slider-part-img">
		<div class="owl-carousel owl-theme owl-carousel-1">
			<div class="item">
				<div class="card">

					<img src="~/Content/image/1.jpg" class="card-img-top" alt="" />
				</div>
			</div>
			<div class="item">
				<div class="card">

					<img src="~/Content/image/partici-slider.jpg"
						 class="card-img-top"
						 alt="" />
				</div>
			</div>
			<div class="item">
				<div class="card">

					<img src="~/Content/image/3.jpg" class="card-img-top" alt="" />
				</div>
			</div>
			<div class="item">
				<div class="card">

					<img src="~/Content/image/4.jpg" class="card-img-top" alt="" />
				</div>
			</div>
			<div class="item">
				<div class="card">

					<img src="~/Content/image/1.jpg" class="card-img-top" alt="" />
				</div>
			</div>
			<div class="item">
				<div class="card">

					<img src="~/Content/image/partici-slider.jpg"
						 class="card-img-top"
						 alt="" />
				</div>
			</div>
		</div>
	</div>
</section>

<section id="tickets" class="tickets-section-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="ticket_col1">
					<h2>Buy your tickets now!</h2>
					<p>You can also buy admission at the gate, but we recommend you to buy it online and avoid a long line!<br /><br /> Note: Your payment receipt is your ticket. Please bring it with you to get your package. Attention: Tickets are non-refundable.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ticket_col2">
					<h3>10<sup>$</sup></h3>
					<small>* $15 onsite</small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ticket_col3">
					<a href="#" class="btn btn-dark"><i class="las la-gem"></i> BUY TICKET $10</a>
				</div>
			</div>
		</div>

		<div class="row sec2-row2">
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Small</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="las la-star"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Medium</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="lab la-angellist"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Big</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="las la-heart"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="cities" class="cities">
	<div>

		<img src="~/Content/image/map.png" class="img-fluid" alt="">
	</div>
	<div class="container">
		<div class="box-2">
			<h5 class="box2-title pb-4">Address</h5>
			<div class="box2-add pb-4">
				<h6>Montreal</h6>
				<p>
					5505 Boul St-Laurent #2000,<br />
					Qc H2T 1S6, Canad
				</p>
			</div>
			<div class="box2-pho pb-3">
				<h6>Ph:+(123)456-78-90</h6>
			</div>
			<div class="box2-time">
				<h6>Saturday Sep 12th,2020:</h6>
				<p>
					12:00pm -6:00pm<br />
					Gate opens at 11am
				</p>
			</div>
		</div>
	</div>
</section>

<section id="faqs" class="FAQ">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="faq_left_part">
					<p>HELP</p>
					<h1>
						Qestions- <br />Answers(FAQ for<br />
						the event)
					</h1>
				</div>
			</div>
			<div class="col-md-8">
				<div class="accordion_box_part">
					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseOne"
										aria-expanded="true"
										aria-controls="collapseOne">
									What is the Holi Festival of Colors?
								</button>
							</h2>
							<div id="collapseOne"
								 class="accordion-collapse collapse"
								 data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit amet, iste ex quidem quam doloribus dolore fugit veritatis animi, officiis asperiores minima mollitia accusantium in commodi perspiciatis blanditiis architecto consequatur.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseTwo"
										aria-expanded="false"
										aria-controls="collapseTwo">
									When and where will the event take place?
								</button>
							</h2>
							<div id="collapseTwo"
								 class="accordion-collapse collapse"
								 data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit amet, iste ex quidem quam doloribus dolore fugit veritatis animi, officiis asperiores minima mollitia accusantium in commodi perspiciatis blanditiis architecto consequatur.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseThree"
										aria-expanded="false"
										aria-controls="collapseThree">
									Are there any age restrictions?
								</button>
							</h2>
							<div id="collapseThree"
								 class="accordion-collapse collapse"
								 data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit amet, iste ex quidem quam doloribus dolore fugit veritatis animi, officiis asperiores minima mollitia accusantium in commodi perspiciatis blanditiis architecto consequatur.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="comments" class="partci-slider">
	<div class="container">
		<div class="testimonial_slider_card">
			<span class="avatar_icon">


				<img src="~/Content/image/festival-of-colors11-120x120.jpg" class="img-fluid" alt="">
			</span>
			<h4>Participant</h4>
			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus!"</p>
			<div class="testimonial_slider_btn">
				<a href="#"><i class="las la-long-arrow-alt-left"></i></a>
				<a href="#"><i class="las la-long-arrow-alt-right"></i></a>
			</div>
		</div>
	</div>
</section>

<section class="video_section">
	<div class="container">
		<div class="row video_row">
			<div class="col-md-6">
				<div class="sec-2-pic">

					<img src="~/Content/image/festival-of-colors5-1200x800.jpg"
						 alt=""
						 class="img-fluid" />
					<div class="playicon-bg">
						<i class="las la-play"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="sec-2-second">
					<p>00 : 00 : 00 : 00</p>
					<h2>Time left</h2>
					<h3>Until Festival</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="sponsorship" class="sponsors-section-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main_heading">
					<p>SPONSORSHIP</p>
					<h2>Our Sponsors</h2>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Montreal, 2019</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Berlin, 2018</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Barcelona, 2017</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Beijing, 2016</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Toronto, 2019</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Moscow, 2018</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Florence, 2017</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div class="sponsor_col_box">
					<h6>Sponsors from Marseilles, 2016</h6>
					<p>www.mobirise.com</p>
				</div>
			</div>
		</div>
	</div>
</section>

