
@{
	ViewBag.Title = "Tickets";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="tickets" class="tickets-section-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="ticket_col1">
					<h2>Buy your tickets now!</h2>
					<p>You can also buy admission at the gate, but we recommend you to buy it online and avoid a long line!<br /><br /> Note: Your payment receipt is your ticket. Please bring it with you to get your package. Attention: Tickets are non-refundable.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ticket_col2">
					<h3>10<sup>$</sup></h3>
					<small>* $15 onsite</small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ticket_col3">
					<a href="#" class="btn btn-dark"><i class="las la-gem"></i> BUY TICKET $10</a>
				</div>
			</div>
		</div>

		<div class="row sec2-row2">
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Small</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="las la-star"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Medium</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="lab la-angellist"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="color: #550aa9">
				<div class="sec3-row2-part">
					<div class="sec3-row2-inner">
						<div class="sec3-inner-head-part">
							<div class="sec3-row2-title">
								<h6>Bag of paint</h6>
							</div>
							<div class="sec3-row2-btn">
								<span class="badge bg-danger">Big</span>
							</div>
						</div>
						<div class="sec-row2-body">
							<div class="sec3-row2-body-left">
								<i class="las la-heart"></i>
							</div>
							<div class="sec3-row2-body-right">
								<h6>Regular Price:$12</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


