p{
    color: rgb(34, 153, 204);
}
body{
    margin:20px;

}
a[href="https"]
{
    color: blueviolet;
}
#products ~ p {
    color: orangered;
} 

article p:first-of-type{
    font-size: 140%;
    font-style: italic;
}
 article :last-child{
    font-weight: bold;
 }
 ul li:nth-child(3n)
{
    color: deeppink;
}
a:visited, a:link{
    color:rgb(194, 46, 202);
}
a:hover, a:focus{
    color: aquamarine;
}

p::first-letter {
    font-size: 120%;
    font-weight:bold;
}
p::first-line{
    font-weight: bold;
    color: darkolivegreen;
}
::selection{
    background-color: darkslategrey;
}
p::before{
    content:'...';
}
p::after{
    content: '...';
}

p2{
    color:maroon;
}
strong{
    color:initial;
}