<section id ="counts" class="counts">
  <div class="container">
    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span>232</span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span>521</span> 
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span>1463</span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span>15</span>
        <p>Hard Workers</p>
      </div>

    </div>
  </div>
</section>
