<main id="main">
  <app-breadcrumbs [title]="title" [brList]="brList"></app-breadcrumbs>

  <!-- ======= Projet Details Section ======= -->
  <section id="project-details" class="project-details">
    <div class="container" data-aos="fade-up" data-aos-delay="100">


      <div class="row justify-content-between gy-4 mt-4">
        <app-projectdetailslider class="project_detail_slider_bg"></app-projectdetailslider>

        
      </div> 

      <div class="row justify-content-between ">
        <app-projectdetailinfo class="col-lg-8 mt-5"></app-projectdetailinfo>
      
        <app-projectdetailsideinfo class="col-lg-3 mt-5"></app-projectdetailsideinfo>
      </div>

      

    </div>
  </section><!-- End Projet Details Section -->

</main><!-- End #main -->
