<main id="main">
  <app-breadcrumbs [title]="title" [brList]="brList"></app-breadcrumbs>

  <!-- ======= Projet Details Section ======= -->
  <section id="project-details" class="project-details">
    <div class="container" data-aos="fade-up" data-aos-delay="100">


      <div class="row justify-content-between gy-4 mt-4">
        <app-projectdetailslider></app-projectdetailslider>

        <app-projectdetailinfo></app-projectdetailinfo>
      
        <app-projectdetailsideinfo></app-projectdetailsideinfo>
      </div>

    </div>
  </section><!-- End Projet Details Section -->

</main><!-- End #main -->
