<main id="main">

  <app-breadcrumbs [title]="title" [brList]="brList"></app-breadcrumbs>
  
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <app-homeservices></app-homeservices>
      </div>
    </div>
  </section><!-- End Services Section -->

  <app-servicescard></app-servicescard>
  <app-altservices2></app-altservices2>
  <app-altservices></app-altservices>
  <app-testimonials></app-testimonials>

</main><!-- End #main -->
