<article class="blog-details">

  <div class="post-img">
    <img src={{blogsetaildata.img}} alt="" class="img-fluid">
  </div>

  <h2 class="title">{{blogsetaildata.title}}</h2>

  <div class="meta-top">
    <ul>
      <li class="d-flex align-items-center"><i [class]="blogsetaildata.iconperson"></i> <a [attr.href]="blogsetaildata.icontextlink">{{blogsetaildata.iconpersontext}}</a></li>
      <li class="d-flex align-items-center"><i [class]="blogsetaildata.iconclock"></i> <a [attr.href]="blogsetaildata.icontextlink"><time
            datetime="2020-01-01">{{blogsetaildata.iconclocktext}}</time></a></li>
      <li class="d-flex align-items-center"><i [class]="blogsetaildata.iconchetdot"></i> <a [attr.href]="blogsetaildata.icontextlink">{{blogsetaildata.iconchetdottext}}</a></li>
    </ul>
  </div><!-- End meta top -->

  <div class="content">
    <p>
      {{blogsetaildata.contentdesc1}}
    </p>

    <p>
      {{blogsetaildata.contentdesc2}}
    </p>

    <blockquote>
      <p>
        {{blogsetaildata.blockquote}}
      </p>
    </blockquote>

    <p>
      {{blogsetaildata.contentdesc3}}
    </p>

    <h3>{{blogsetaildata.contenttitle}}</h3>
    <p>
      {{blogsetaildata.contentdesc4}}
    </p>
    <img src={{blogsetaildata.contentimg}} class="img-fluid" alt="">

    <h3>{{blogsetaildata.contenttitle1}}</h3>
    <p>
      {{blogsetaildata.contentdesc5}}
    </p>
    <p>
      {{blogsetaildata.contentdesc6}}
    </p>

  </div><!-- End post content -->

  <div class="meta-bottom">
    <i [class]="blogsetaildata.iconfolder"></i>
    <ul class="cats">
      <li><a [attr.href]="blogsetaildata.href">{{blogsetaildata.iconfoldertext}}</a></li>
    </ul>

    <i [class]="blogsetaildata.icontags"></i>
    <ul class="tags">
      <li><a [attr.href]="blogsetaildata.href">{{blogsetaildata.icontagstext1}}</a></li>
      <li><a [attr.href]="blogsetaildata.href">{{blogsetaildata.icontagstext2}}</a></li>
      <li><a [attr.href]="blogsetaildata.href">{{blogsetaildata.icontagstext3}}</a></li>
    </ul>
  </div><!-- End meta bottom -->

</article><!-- End blog post -->