<ng-container >
  <div class="cart-table-wrap">
    <table class="cart-table">
      <thead class="cart-table-head">
        <tr class="table-head-row">
          <th class="product-remove"></th>
          <th class="product-image">{{row.p1}}</th>
          <th class="product-name">{{row.p2}}</th>
          <th class="product-price">{{row.p3}}</th>
          <th class="product-quantity">{{row.p4}}</th>
          <th class="product-total">{{row.p5}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-body-row" *ngFor="let rowde of data">          
         <app-cartinboxrowdetail [rowde]="rowde"></app-cartinboxrowdetail>
        </tr>    
      </tbody>
    </table>
  </div>
</ng-container>


<ng-container >
  <div class="center">
    <h4>Your Cart is empty!</h4>
    <h5>Add Fruits to it now</h5>
    <button class="btn"><a routerLink="/shop">Shop Now</a></button>
  </div>
</ng-container>

<!-- *ngIf="shop.length == 0" -->




