<section class="newsletter_area">
  <div class="container">
    <div class="row justify-content-center align-items-center" *ngIf="from">
      <div class="col-lg-12">
        <div class="subscription_box text-center">
          <h2 class="text-uppercase text-white">{{ from.desc }}</h2>
          <p class="text-white">
            {{ from.desc2 }}
          </p>
          <div class="subcribe-form" id="mc_embed_signup">
            <form
              target="_blank"
              [formGroup]="subscribe"
              novalidate="true"
              #subForm="ngForm"
              (ngSubmit)="onSub()"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get"
              class="subscription relative"
            >
              <input
                name="EMAIL"
                placeholder="Email address"
                formControlName="email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email address'"
                required=""
                type="email"
              />

              <div style="position: absolute; left: -5000px">
                <input
                  name="b_36c4fd991d266f23781ded980_aefe40901a"
                  tabindex="-1"
                  value=""
                  type="text"
                />
              </div>

              <button
                type="submit"
                class="primary-btn hover d-inline"
                [disabled]="subscribe.invalid"
              >
                Get Started
              </button>
              <br />
              <span
                style="color: red"
                *ngIf="email && email.invalid && email.touched"
                >Input field is required</span
              >
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
