body{
    margin: 10px;
}
.tweet{
    border: 3px solid lightgray;
    overflow: hidden;
}
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}
.avatar{
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;
    margin-right: right;
}
.clear{
    clear: both;
}

.container{
    border: 3px solid lightgray;
    display: flex ;
}
.box{
     width: 5rem;
     height: 5rem;
     background: gold;
     margin: 1rem;
}