.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 100px);
    grid-template-areas: "Header  header" "sidebar main" "footer footer";
    
    border:3px solid lightgray;
    height: 100vh;
    gap: 10px;
   

}
.box{
   
   background-color: pink; 
}
.box-one{
    
    grid-area: header;
}