body{
     margin: 30px; 
     height: 200vh;
}
*, *::before, ::after{
    box-sizing: border-box;
}
p{
    padding: 10px 20px;
        border: 5px solid blue;
}
.box::before{
    content: "facile";
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    margin: 10px;
    display: inline-block;
}

.box1{
    width: 150px;
    height: 150px;
    border: 5px solid black;
    overflow: hidden auto;
}

.box2 {
    width: 50mm;
    height: 30vh;
    background-color: orange;
    border-top: 4px solid orangered;
}

.box3{

    border: 5px solid black;
}
.pop{
    width: 5rem;
    height: 5rem;
}
.pop1{
    background-color: red;
}
.pop2{
    background-color: goldenrod;
    position: fixed;
    left: 4rem;
    bottom: 2rem;
    z-index: -1; 
}
.pop3{
    background-color: green;
}