body{
    
    margin:10px;
}
h1{
    color:blue !important;
}
.highlight{
   color:deeppink;
}
#products{
    color:green;
}
.highlight#products {
    color:red;
}
#products{
    color:green;
}
p::first-line{
    font-weight:bold;
}

::selection{
    background-color: pink;
}
p::before{
    content:"...";
    display: block;
}
p::first-letter{
    font-size: 140%;
    font-style: bold;;
}
a:hover ,
a:focus{
    color:forestgreen;
}
ul li:nth-child(odd){
    color:deeppink;
}
article p:first-of-type{
    font-size: 140%;
    font-style:italic;
}
article :last-of-type{
    font-weight:bold;
}
   

