.container
{
    display: grid;
    /*3 * 2*/
   /*grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,100px); OR OPTION*/
    grid-template: 100px auto 100px / 30fr 70fr;
    grid-template-areas: 
        "header header" 
        "sidebar main" 
        ".        footer";
    border : 3px solid black;
    gap:10px;
    height:100vh;
}
.box{
  background-color: gold;
}
.box-one{
    grid-column:  1 / 3;
    grid-area:"header";
}
.box-four{
    grid-area:footer;
}
.container1
{
    display:flex;
    flex-direction: column;
}
.box1{
    background: blue;
    padding:1rem;
}
.box1:nth-of-type(2)/*psudo class*/
{
    background: pink;

}
@media screen and (min-width:600px) and (max-width:800px)
    {
        .container1
        {
            flex-direction: column;
        }
        .box1{
            background: darkorchid;
        }
    }
    @media print{
        body{
            font-size:12pt;
        }
        .box1{
            padding:0.5cm;
        }
    }
    
