 * ,
 *::before,
 *::after{
    box-sizing: border-box;
}
body{
    margin: 10px;
    height: 200vh;
}
.first{
    /*display:none;*/
    visibility:hidden;/*hiding element*/
}
.container{
    border: 3px solid lightgrey;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
    height: 90vh;
}
.box7{
    width:5rem;
    height: 5rem;
    background-color: gold;
    margin:1rem;
}
.tweet {
    border: 3px solid lightgrey;
    overflow: hidden;
}

.clearfix::after {
    content:'';
    display:block;
    clear:both;
}
.avatar{
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float:left;
    margin-right: 0.5rem;
   
}
.clear{
    clear:left;
}
.box3{
    border:3px solid lightgrey;
    position: relative;
}
.box4{
    width:5rem;
    height:5rem;
}
.box-one{
    background: gold;;
}
.box-two{
    background:tomato;
    position: relative;
    top:0;
    z-index: 999999;

}
.box-three{
    background: dodgerblue;
}
.box2{
    width:50em; /*--10 *  font size of current element*/
    height: 100vh;
    background-color: gold;
    border-top:3px solid orange;
}
.box::before{
    content:"Hello"
}
.box{
    width:100px;
    height:100px;
    background-color: gold;
    display:inline-block;
}
.box1{
    width:150px;
    height:150px;
    border:3px solid gold;
    overflow: hidden auto;
}
.box-on
{ /*flex-grow: 2;*/
}