.container{
    width:50%;
    padding:3rem;
    margin:auto;
    border:3px solid black;
}
.box{
    width:50%;
    background :black;
    color:white;
    margin:0 auto;
    text-align:center;
}
.box1
{
    background:lightpink;
    text-align:left;
    margin:0 auto;
    padding:2;
    border:opx opx 2px opx solid black;
}