<app-header></app-header>
<div class="Data">
<h1>Angular</h1>
<!-- <app-courses></app-courses> -->
<h2>{{title}}</h2>
<h2>{{name}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr.length}}</h2>

<button (click)="getName()">Who is this</button>
<br> <br>
<button (click)="myEvent('this is button')">click it </button>
<br> <br>
 <!-- <input type="text" #boxdown  (keydown)="myEvent(box.value)"/> -->
 <br> <br> 

<h1 
(mouseover) = "myEvent('mouseover')"
style="background-color:aquamarine;">
mouse over
</h1>
<h1 
(mouseleave) = "myEvent('mouseleave')"
style="background-color:darkseagreen;">
mouse leave
</h1>

<input type="text" #boxval/>
<button (click)="getValue(boxval.value)">Got it</button>
<h2>{{currentVal}}</h2>

<input type="text" [disabled]="disabledBox" [value]="name"/>
<br> <br>
<input type="text" [disabled]="disabledBox" value={{name}}/>
<br> <br>
<button (click)="enableBox()">Enable TextBox</button>

<!-- <h1 *ngIf="show=='yes'; then ifBlock else elseBlock">
</h1>
<ng-template #ifBlock>
    <h1>if block</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else block</h1>
</ng-template> -->

<ng-template [ngIf]="show=='red'">
    <h1>Red block</h1>
</ng-template>

<ng-template [ngIf]="show=='green'">
    <h1>Green block</h1>
</ng-template>

<ng-template [ngIf]="show=='blue'">
    <h1>Blue block</h1>
</ng-template>

<div [ngSwitch]="color">
    <h2 style="color: red;" *ngSwitchCase="'Red'">red color</h2>
    
    <h2 style="color: blue;" *ngSwitchCase="'Blue'">Blue color</h2>
    
    <h2 style="color: green;" *ngSwitchCase="'Green'">green color</h2>
    
    <h2 style="color: pink;" *ngSwitchCase="'Pink'">pink color</h2>
</div>

<table border="1">
    <tr>
        <td>name</td>
        <td>age</td>
        <td>marks</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.marks}}</td>
        </tr>
    </table>
<br> <br> <br>
<form #simpleForm="ngForm" (ngSubmit)="getValue(simpleForm.value)">
    <label for="Name" class="from-label">name</label><br>
    <input type="text" ngModel name="user" placeholder="enter user name" >
    <br> <br>
    <label for="email-id" class="from-label">Email-id</label><br>
    <input type="text" ngModel name="email-id" placeholder="enter user email-id" >
    <br> <br>
    <label for="Birth date" class="from-label">Birth date</label><br>
    <input type="text" ngModel name="Birth date" placeholder="enter user Birth date" >
    <br> <br>
    <label for="age" class="from-label">Age</label><br>
    <input type="text" ngModel name="age" placeholder="enter user age" >
    <br> <br>
    <label for="password" class="from-label">Password</label><br>
    <input type="password" ngModel name="password" placeholder="enter user password" >
    <br> <br>
    <button>Get user value</button> 
</form>

<h1>Style Binding in angular</h1>
<!-- <h1 style="boja:red">Heading</h1> -->
<h1 [style.color]="'green'">Heading</h1>
<h1 [style.color]="boja">Heading</h1>
<h1 [style.color]="err? 'red':'green' ">Conditional Style</h1>
<button (click) = "Updatecolor()">Update color</button>



<app-footer></app-footer>
</div>