<h1>Angular</h1>
<!-- <app-courses></app-courses> -->
<h2>{{title}}</h2>
<h2>{{name}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr.length}}</h2>

<button (click)="getName()">Who is this</button>
<br> <br>
<button (click)="myEvent('this is button')">click it </button>
<br> <br>
<!-- <input type="text" #box (keydown)="myEvent(box.value)"/> -->
<br> <br> 

<h1 
(mouseover) = "myEvent('mouseover')"
style="background-color:aquamarine;">
mouse over
</h1>
<h1 
(mouseleave) = "myEvent('mouseleave')"
style="background-color:darkseagreen;">
mouse leave
</h1>

<input type="text" #box/>
<button (click)="getValue(box.value)">Got it</button>

<h2>{{currentVal }}</h2>