@{
    ViewBag.Title = "Home Page";
}

@Html.Raw(TempData["LoginSuccessFullMessage"])

<section id="home" class="sec-1 comman-sec">
    @*<h4>Welcome! @Session["Username"]</h4>
    <h3>@Html.ActionLink("Signout", "Signout", "Users")</h3>*@

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-one-left">
                    <h1>
                        Affiliate <br />
                        Marketing
                    </h1>

                    <p>
                        A ab architecto consequuntur dicta doloremque et eveniet,
                        expedita fugit ipsum, iusto molestias nemo nesciunt nobis
                        officiis quidem reiciendis repudiandae similique tempore!
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style">Start Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec-one-right text-center">
                    <div class="sec1-img-wrapper">
                        <img src="~/Content/images/sec-1new.png" alt="" class="img-fluid img-1" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section id="partners" class="sec-2 comman-sec">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-two-left">-->
<!-- <img src="~/Content/images/sec2-left-img.jpg" alt="" class="img-fluid" /> -->
<!--<img src="~/Content/images/sec-2left.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec-two-right">
                    <h2>
                        Advertising <br />
                        Agency <br />
                        Partners
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>-->


<section class="sec-3 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="comman-heading">Additional services</h2>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="ser-info-box">
                    <span class="icon"><img src="~/Content/images/global-icon.png" alt="" class="img-fluid" /></span>
                    <h3>Vitae voluptatibus</h3>
                    <p>
                        Sit amet, consectetur adipisicing elit. Assumenda autem
                        distinctio dolores ex excepturi facere, hic illo ipsa ipsum
                        itaque labore minus molestias nemo numquam pariatur provident,
                        quisquam velit voluptates.
                    </p>
                    <a href="#"> Itaque labore minus ↗ </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ser-info-box">
                    <span class="icon"><img src="~/Content/images/note-icon.png" alt="" class="img-fluid" /></span>
                    <h3>Vitae voluptatibus</h3>
                    <p>
                        Sit amet, consectetur adipisicing elit. Assumenda autem
                        distinctio dolores ex excepturi facere, hic illo ipsa ipsum
                        itaque labore minus molestias nemo numquam pariatur provident,
                        quisquam velit voluptates.
                    </p>
                    <a href="#"> Itaque labore minus ↗ </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-4 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-6">
                <h3 class="step-heading">3 steps to <br />successful <br /> advertising</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-3 offset-md-3">
                <div class="step-info-box">
                    <span>1.</span>
                    <p>
                        Inventore ipsam labore libero nemo neque nisi non quo, repudiandae saepe similique
                        voluptatum.
                    </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="step-info-box">
                    <span>2.</span>
                    <p>Natus nobis odit possimus quia sit tempora unde voluptates. Ad, iusto neque nisi non quo.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-info-box">
                    <span>3.</span>
                    <p>Quibusdam recusandae reiciendis repellendus rerum similique sunt temporibus. Iusto, quia.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="sec-5 comman-sec">
    <div class="container">
        <div class="row justify-content-center gx-5">
            <div class="col-md-3">
                <div class="sec-5-img-block">
                    <img src="~/Content/images/sec2-left-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sec-5-img-block">
                    <img src="~/Content/images/sec-5blockimg2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-6">
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="sec-6 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="sec-6-head pb-5 mb-5">Authors and brands</h2>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-5">
                <div class="card-wrapper text-center">
                    <img src="~/Content/images/brand-sec-img.png" alt="" class="img-fluid">
                    <h3 class="brand-sec-title">Amet consectetur adipisicing</h3>
                    <p>
                        Elit Illo iusto libero natus nesciunt nobis officiis quam quia quibusdam quod. Accusamus at
                        consequuntur corporis incidunt labore necessitatibus officiis quos similique voluptatibus.
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style author-btn-style">See More</a>
                </div>

            </div>
            <div class="col-md-5">
                <div class="card-wrapper text-center">
                    <img src="~/Content/images/brand-sec-img2.png" alt="" class="img-fluid">
                    <h3 class="brand-sec-title">Soluta tenetur deleniti</h3>
                    <p>
                        Ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa eius illo iusto laudantium, minus modi nemo neque nihil possimus, provident quae quaerat quia quidem, saepe.
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style author-btn-style">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-7 comman-sec">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="sec-7-left ">
                    <h2>
                        Happy <br />
                        customers
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, laboriosam, recusandae.
                        Eos, illum maiores minus obcaecati saepe vero. Dolore doloribus ducimus error exercitationem
                        itaque libero porro tempore voluptatibus. Qui, ratione. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Accusantium architecto aspernatur consequatur.
                    </p>
                </div>
            </div>
            <div class="col-md-6 last-child">
                <div class="sec-7-right">
                    <div class="sec-right-back-img">
                        <img src="~/Content/images/sec-7-leftimg1.png" alt="" class="img-fluid">
                    </div>
                    <div class="card-wrapper">
                        <span>99%</span>
                        <p class="m-0">Libero porro tempore voluptatibus. Qui, ratione. Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section id="marketing" class="sec-8 comman-sec">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-12">
                    <div class="marketing-heading">
                        <h2>Modern marketing</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5  ">
                    <p class="market-second-right">
                        Consectetur adipisicing elit. Dolorum, laboriosam, recusandae. Eos,
                        illum maiores minus obcaecati
                        saepe vero. Dolore doloribus ducimus error exercitationem.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <div class="marketing-second-row-percen">
                        <span>99%</span>
                        <p class="m-0">Libero porro tempore voluptatibus. Qui, ratione. Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mark-img-part">
                        <img src="~/Content/images/sec-8-img.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="sec-9 comman-sec">
    <div class="container">

        <div class="grid_item_row">
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card1">
                        <img src="~/Content/images/faq-sec-img.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center"> Vero <br /> voluptatem</p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card2">
                        <img src="~/Content/images/card-item-5.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Consectetur <br /> adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card3">
                        <img src="~/Content/images/card-item-2.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                At beatae <br /> consectetur dolor
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card4">
                        <img src="~/Content/images/sec-8-img.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Ea eius
                                <br /> fugiat laboriosam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card5">
                        <img src="~/Content/images/card-item-3.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Necessitatibus <br /> placeat

                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card6">
                        <img src="~/Content/images/card-item-7.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Possimus<br /> quibusdam

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card7">
                        <img src="~/Content/images/sec-right-front.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Quis quisquam <br /> quos
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card8">
                        <img src="~/Content/images/card-item-8.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Temporibus
                                <br /> tenetur
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>*@


<section class="sec-10 comman-sec">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="affli-marketing-tabs">
                    <p><b>Veritatis voluptate voluptatem</b></p>
                    <h2>Affiliate marketing</h2>
                    <div class="tabs-list pt-4">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-idea-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-idea" type="button" role="tab" aria-controls="pills-idea"
                                        aria-selected="true">
                                    <b>Idea</b>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-team-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-team" type="button" role="tab"
                                        aria-controls="pills-team" aria-selected="false">
                                    <b>Team</b>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-statistics-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-statistics" type="button" role="tab"
                                        aria-controls="pills-statistics" aria-selected="false">
                                    <b>Statistics</b>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-person-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-person" type="button" role="tab"
                                        aria-controls="pills-person" aria-selected="false">
                                    <b>Person</b>
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-idea" role="tabpanel"
                                 aria-labelledby="pills-idea-tab" tabindex="0">
                                At autem consectetur dolorem enim,
                                expedita fuga iusto modi nisi obcaecati, odit, officia optio vitae voluptas.
                                Dolorum.
                            </div>
                            <div class="tab-pane fade" id="pills-team" role="tabpanel"
                                 aria-labelledby="pills-team-tab" tabindex="0">
                                Ad adipisci amet asperiores beatae
                                consectetur consequuntur delectus deleniti dignissimos facere iste labore maiores
                                nemo neque nulla.
                            </div>
                            <div class="tab-pane fade" id="pills-statistics" role="tabpanel"
                                 aria-labelledby="pills-statistics-tab" tabindex="0">
                                Nimi atque consequuntur cum dolor
                                et eum eveniet expedita impedit ipsum modi neque nesciunt, placeat provident quia
                                quod repellendus reprehenderit sed, tempora?
                            </div>
                            <div class="tab-pane fade" id="pills-person" role="tabpanel"
                                 aria-labelledby="pills-person-tab" tabindex="0">
                                Liquid aspernatur assumenda
                                consectetur corporis dolorum ea, error esse facere facilis, fugiat ipsa iure magnam
                                odio optio, qui quo tempore! Facere, magnam?
                            </div>
                        </div>
                    </div>
                    <div class="affli-btn">
                        <a href="#">See more marketing info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="affli_mar_right_grid">
                    <div class="affli_mar_grid_col">
                        <div class="affli_mar_grid_item affli_grid1"></div>
                        <div class="affli_mar_grid_item affli_grid2">
                            <img src="~/Content/images/faq-sec-img.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="affli_mar_grid_item affli_grid3"></div>
                    </div>
                    <div class="affli_mar_grid_col">
                        <div class="affli_mar_grid_item affli_grid4"></div>
                        <div class="affli_mar_grid_item affli_grid5"></div>
                        <div class="affli_mar_grid_item affli_grid6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section id="faq" class="sec-11 comman-sec">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="faq-left-part">
                    <div class="faq-title">
                        <h2>FAQ marketing</h2>
                    </div>


                    <div class="accordion_box_part">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Itaque laboriosam, nisi quisquam quos suscipit veniam?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Dolor sit amet, consectetur adipisicing elit. Asperiores deleniti ea earum ex exercitationem fugit nihil possimus quibusdam sapiente unde. Dicta dolores error expedita id molestiae nobis officiis quisquam sint.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Blanditiis distinctio dolor?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ex distinctio similique quos nostrum tenetur cumque saepe asperiores illo? Dolores hic ex adipisci modi dolorum natus, officia molestiae incidunt molestias!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Architecto asperiores aut?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis beatae laborum id ut quibusdam vero at placeat, officiis voluptatibus quaerat veniam nobis aut obcaecati doloremque, ab consequatur, et necessitatibus. Maiores.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 faq-rigt-col">
                <div class="faq-sec-right">
                    <div class="faq-right-img-part">
                        <img src="~/Content/images/faq-sec-img1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>*@


@*<section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>*@
