<h1>Hello! This is Routing.</h1>
<a routerLink="users">users</a>
<br />
<br />
<a routerLink="admin">admin</a>
<br />
<br />
<a routerLink="about">about</a>
<router-outlet></router-outlet>
<h1>normal heading</h1>
<h1 appCustomstyle>custom heading</h1>
<!-- <h1>{{ name }}</h1>
<h1>{{ age }}</h1>
<h1>{{ id }}</h1> -->
<app-users></app-users>
<!-- <table border="1">
  <tr>
    <td>UserId</td>
    <td>Id</td>
    <td>Title</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.userId }}</td>
  </tr>
</table> -->
<app-modelc></app-modelc>
