<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"

>
<abp-modal-header
[title]="'CreateNewEvent' | localize"
(onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Name" | localize }}
        </label>
        <div class="col-md-9">
          <p>{{events.name}}</p>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="description">
          {{ "Description" | localize }}
        </label>
        <div class="col-md-9">
          <p>{{events.description}}</p>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="eventDate">
          {{ "EventDate" | localize }}
        </label>
        <div class="col-md-9">
          <p>{{events.eventDate}}</p>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="entryFees">
          {{ "EntryFees" | localize }}
        </label>
        <div class="col-md-9">
          <p>{{events.entryFees}}</p>
        </div>
      </div>
</div>

</form>