
  <div class="portfolio-description">
    <h2>{{projectdetinfodata.prointitle}}</h2>
    <p>
      {{projectdetinfodata.proindesc1}}
    </p>
    <p>
      {{projectdetinfodata.proindesc2}}
    </p>

    <div class="testimonial-item">
      <p>
        <i [class]="projectdetinfodata.proquticonleft"></i>
        {{projectdetinfodata.proindesc3}}
        <i [class]="projectdetinfodata.proquticonright"></i>
      </p>
      <div>
        <img src={{projectdetinfodata.proinfoimg}} class="testimonial-img" alt="" >
        <h3>{{projectdetinfodata.proquttitle}}</h3>
        <h4>{{projectdetinfodata.proqutsubtitle}}</h4>
      </div>
    </div>

    <p>
      {{projectdetinfodata.proindesc4}}

    <p>
      {{projectdetinfodata.proindesc5}}
    </p>

  </div>
