<img src={{testibox.testiprofileimg}} class="testimonial-img" alt="">
<h3>{{testibox.testiboxtitle}}</h3>
<h4>Ceo &amp; Founder</h4>
<div class="stars">
  <i [className]="testibox.testiboxstaricon"></i><i [className]="testibox.testiboxstaricon"></i><i [className]="testibox.testiboxstaricon"></i>
  <i [className]="testibox.testiboxstaricon"></i><i [className]="testibox.testiboxstaricon"></i>
</div>
<p>
  <i [className]="testibox.testiboxqutlefticon"></i>
  {{testibox.testiboxqutdesc}}
  <i [className]="testibox.testiboxqutrightticon"></i>
</p>