.vs/slnx.sqlite

.vs/VSWorkspaceState.json
Exercise/WebApplication2/.vs/
Exercise/WebApplication2/packages/
Exercise/WebApplication2/WebApplication2/bin/
Exercise/WebApplication2/WebApplication2/obj/
Exercise/mvc/WebApplication2 (4) (1)/WebApplication2 (2) (1)/.vs/slnx.sqlite
Exercise/mvc/WebApplication2 (4) (1)/WebApplication2 (2) (1)/.vs/
Exercise/mvc/WebApplication2/.vs/slnx.sqlite
Exercise/mvc/WebApplication2/.vs/
Exercise/mvc/WebApplication2/packages/
Exercise/mvc/WebApplication2/WebApplication2/bin/
Exercise/mvc/WebApplication2/WebApplication2/obj
Exercise/WebApplication login/WebApplication2/.vs/WebApplication2/config/applicationhost.config
Exercise/WebApplication login/WebApplication2/.vs/
Exercise/WebApplication login/WebApplication2/packages/
Exercise/WebApplication login/WebApplication2/WebApplication2/bin/
Exercise/WebApplication login/WebApplication2/WebApplication2/obj/
