week-4/firstproject/firstproject/bin/Antlr3.Runtime.dll
week-4/firstproject/firstproject/bin/Antlr3.Runtime.pdb
week-4/firstproject/firstproject/bin/firstproject.dll
week-4/firstproject/firstproject/bin/firstproject.dll.config
week-4/firstproject/firstproject/bin/firstproject.pdb
week-4/WebApplication2/.vs/WebApplication2/config/applicationhost.config
week-4/WebApplication2/.vs/WebApplication2/v17/.suo
week-4/WebApplication2/WebApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
