week7/CodeFirst/.vs/CodeFirst/FileContentIndex/2de113a4-f799-4940-a9b0-e6b7ea5d7d9e.vsidx
week7/CodeFirst/.vs/
week7/CodeFirst/CodeFirst/bin/
week7/CodeFirst/packages/
week7/CodeFirst/CodeFirst/obj/
week7/DatabaseFirst/DatabaseFirst/bin/
week7/DatabaseFirst/DatabaseFirst/obj/
week7/DatabaseFirst/packages/
week7/DatabaseFirst/.vs/