<section class="Home">
  <div class="container">
    <div class="row justify-content">
      <div class="col-md-6">
        <div class="sec1-row1-left">
          <span class="play_icon"
            ><img src="/src/assets/images/play.png" class="img-fluid" alt=""
          /></span>
          <h6><b>Play Promo</b></h6>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sec1-right-display">
          <div class="sec2-row2-right">
            <h6>World's Happiest Event</h6>
            <h3>Festival of<br />Colors</h3>
          </div>
          <div class="sec-2-row2-right-boxbg">
            <div class="sec2-right-boxbg-inner">
              <p>
                Saturday Sep<br />
                12th, 2020<br />
                Gate opens<br />
                at 11am
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec1-box">
      <h6>About</h6>
      <p>
        The Festival of Colors is a vibrant festival full of music , dancing and
        throwing organic color powders to faster love and friendship.
      </p>
    </div>
  </div>
</section>
