<!-- <p *ngFor="let data of hotelreview">
  {{ data.title }}
</p> -->
<div class="row" data-aos="fade-up" data-aos-delay="100">
  <div class="col-lg-4 col-md-6" *ngFor="let data of value">
    <div class="hotel">
      <div class="hotel-img">
        <img [src]="data?.img" alt="Hotel 1" class="img-fluid" />
      </div>
      <h3>
        <a href="#">{{ data?.desc }}</a>
      </h3>
      <div class="stars">
        <i [class]="data?.star1"></i>
        <i [class]="data?.star1"></i>
        <i [class]="data?.star1"></i>
        <i [class]="data?.star4"></i>
        <i [class]="data?.star5"></i>
      </div>
      <p>{{ data?.des }}</p>
    </div>
    <!-- <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img
              src="assets/img/hotels/3.jpg"
              alt="Hotel 3"
              class="img-fluid"
            />
          </div> -->
    <!-- <h3><a href="#">Hotel 3</a></h3>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <p>0.6 Mile from the Venue</p> -->
  </div>
</div>
