<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a [routerLink]="header.routerlink" class="logo d-flex align-items-center">
      <h1>{{header.headerlogo}}<span>{{header.headerlogodot}}</span></h1>
    </a>

    <i [className]="header.iconshow"></i>
    <i [className]="header.iconhide"></i>
    <nav id="navbar" class="navbar">
      <ul class="menu">
        <app-headermenulist *ngFor="let headermenudata of headermenuvalue" [headermenudata]="headermenudata" class="list_item"></app-headermenulist>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
