
  <div class="order-details-wrap">
    <table class="order-details">
      <thead>
        <tr>
          <th>{{right.h1}}</th>
          <th>{{right.h2}}</th>
        </tr>
      </thead>
      <tbody class="order-details-body">
        <tr>
          <td>{{right.r1}}</td>
          <td>{{right.r2}}</td>
        </tr>
        <tr>
          <td>{{right.fruit1}}</td>
          <td>{{right.price1}}</td>
        </tr>
        <tr>
          <td>{{right.fruit2}}</td>
          <td>{{right.price2}}</td>
        </tr>
        <tr>
          <td>{{right.fruit3}}</td>
          <td>{{right.price3}}</td>
        </tr>
      </tbody>
      <tbody class="checkout-details">
        <tr>
          <td>{{right.t1}}</td>
          <td>{{right.p1}}</td>
        </tr>
        <tr>
          <td>{{right.t2}}</td>
          <td>{{right.p2}}</td>
        </tr>    
        <tr>                 
          <td>{{right.t3}}</td>
          <td>{{right.p3}}</td>
        </tr>
      </tbody>
    </table>
    <a routerLink="" class="boxed-btn">{{right.btn}}</a>
  </div>
