<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >

<div   *ngFor="let sli of slider">          
          <app-sliderbox [sli]="sli" ></app-sliderbox>    
        
        </div>
    </ng-template>
</owl-carousel-o> -->


<div class="carousel slide" data-ride="carousel" >
    <!-- single home slider -->
    
    <div  class="carousel-inner" *ngFor="let sli of slider">
    <app-sliderbox [sli]="sli"></app-sliderbox>
    </div>
</div>





<app-Help></app-Help>
<app-OurProduct></app-OurProduct>
<app-product></app-product>
<app-testimonail></app-testimonail>
<app-advertisement></app-advertisement>
<app-Shopbanner></app-Shopbanner>
<app-OurNews></app-OurNews>






