<div class="portfolio_box">
  <div class="single_portfolio">
    <img class="img-fluid w-100" src="{{ tab.img1 }}" alt="" />
    <div class="overlay">
      <!-- <div *ngFor="let image of _albums; let i = index">
            <img [src]="image.thumb" (click)="open(i)" />
          </div> -->
    </div>
    <a href="{{ tab.img2 }}" class="img-gal">
      <div class="icon">
        <span class="lnr lnr-cross"></span>
      </div>
    </a>
  </div>
  <div class="short_info" *ngIf="tab">
    <h4>
      <a routerLink="/portfolio-details/{{ tab.id }}">{{ tab.name1 }}</a>
    </h4>
    <p>{{ tab.desc1 }}</p>
  </div>
</div>
