<!-- ======= Alt Services Section 2 ======= -->
<section id="alt-services-2" class="alt-services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-around gy-4">
      <div class="col-lg-5 d-flex flex-column justify-content-center">
        <h3>Non quasi officia eum nobis et rerum epudiandae rem voluptatem</h3>
        <p>Maxime quia dolorum alias perspiciatis. Earum voluptatem sint at non. Ducimus maxime minima iste magni
          sit praesentium assumenda minus. Amet rerum saepe tempora vero.</p>

        <div *ngFor="let altser2box of altserboxdata">
         <app-altserbox2 [altser2box]="altser2box"></app-altserbox2>
        </div><!-- End Icon Box -->

        <!-- <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-patch-check flex-shrink-0"></i>
          <div>
            <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque</p>
          </div>
        </div> -->
        <!-- End Icon Box -->

        <!-- <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-brightness-high flex-shrink-0"></i>
          <div>
            <h4><a href="" class="stretched-link">Dine Pad</a></h4>
            <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus
              aut eligendi omnis</p>
          </div>
        </div> -->
        <!-- End Icon Box -->

        <!-- <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-brightness-high flex-shrink-0"></i>
          <div>
            <h4><a href="" class="stretched-link">Tride clov</a></h4>
            <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet.
              Et eligendi</p>
          </div>
        </div> -->
        <!-- End Icon Box -->
      </div>

      <div class="col-lg-6 img-bg" style="background-image: url(assets/img/alt-services-2.jpg);" data-aos="zoom-in"
        data-aos-delay="100"></div>
    </div>

  </div>
</section><!-- End Alt Services Section 2 -->
