<section class="sec-1-bg">
    <div class="sec1-inner-part">
        <p>Floral</p>
        <h3>Excellent Bouquets for you</h3>
    </div>
</section>

<section class="sec-2-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="sec2-left-part">
                    <h1>Local Florist Just For You</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusamus saepe omnis sit
                        explicabo, officia quidem iure similique odit labore placeat, tempore nulla odio dolores,
                        officiis minus possimus? Nostrum, culpa.</p>
                    <h5>Mary Byrd, owner</h5>
                    <h6>Mary Byrd</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec2-right-inner">
                    <div class="sec2-right-img1">
                        <img src="assets/image/fl1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="sec2-right-img2">
                        <img src="assets/image/fl2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
