<app-header></app-header>
<h1>Welcome</h1>
<p *ngFor="let alert of alerts">
	<ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
	<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<button mat-button color="primary">Angular Mat Button</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<mat-slider max="10" min="1"></mat-slider>

<div *ngFor="let data of user">
    <app-user [hero]="data"></app-user>
</div>

<app-client (parentFunction)="parentFunction($event)"></app-client>
<br> <hr>

<h1>Pipe in Angular</h1>
<h2>{{Name}}</h2>
<h2>{{Name | uppercase}}</h2>
<h2>{{Name | lowercase}}</h2>
<h2>{{Today | date}}</h2>
<h2>{{Today | date:'fullDate'}}</h2>
<h2>{{str | slice:2:5 }}</h2>
<h2>{{money | currency :'USD'}}</h2>
<h2>{{value | percent }}</h2>








<app-footer></app-footer>