 <!-- ======= Features Section ======= -->
 <section id="features" class="features section-bg">
  <div class="container" data-aos="fade-up">
    <app-homenavtab [tabsArray]="tabdata" (onTabChange)="tabChange($event)"></app-homenavtab>
    <!-- <ul class="nav nav-tabs row  g-2 d-flex">

      <li class="nav-item col-3" >
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
          <h4>Modisit</h4>
        </a>
      </li> -->
      <!-- End tab nav item -->

      <!-- <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
          <h4>Praesenti</h4>
        </a>
      </li> -->
        <!-- End tab nav item -->

      <!-- <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
          <h4>Explica</h4>
        </a>
      </li> -->
      <!-- End tab nav item -->

      <!-- <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
          <h4>Nostrum</h4>
        </a>
      </li> -->
      <!-- End tab nav item -->
<!-- 
    </ul> -->
    <div class="tab-content">
      <div *ngFor="let sertabcont of sertabarry" >
        <div *ngIf="activatedTabIndex == sertabcont.index" class="tab-pane">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
              data-aos="fade-up" data-aos-delay="100">
              <h3>  {{sertabcont.sermenutitle}}</h3>
              <p class="fst-italic">
                {{sertabcont.sermenudesc}}
              </p>
              <ul>
                <li><i [className]="sertabcont.sermenuicon"></i> {{sertabcont.sermenuicondesc1}}</li>
                <li><i class="bi bi-check2-all"></i> {{sertabcont.sermenuicondesc2}}</li>
                <li><i class="bi bi-check2-all"></i> {{sertabcont.sermenuicondesc3}}</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src={{sertabcont.sermenuimg}} alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>



   

  </div>
</section><!-- End Features Section -->
