<form class="form-horizontal" 
autocomplete="off"
#createRoleForm="ngForm" 
>

    <abp-modal-header [title]="'ViewProject' | localize"
      (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    
  <div class="modal-body">
    
        <!-- <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "ProjectName" | localize }}
          </label>
          <div class="col-md-9">
           <p>{{projres.projectName }}</p>
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="name">
            {{ "ProjectId" | localize }}
          </label>
          <div class="col-md-9">
           <p>{{projres.projectId}}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="name">
            {{ "FirstName" | localize }}
          </label>
          <div class="col-md-9">
           <p>{{projres.firstName }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="name">
            {{ "LastName" | localize }}
          </label>
          <div class="col-md-9">
           <p>{{projres.lastName }}</p>
          </div>
        </div>  
   
  </div>
</form>
