<div class="member-img">
  <img src={{ourteambox.ourteamimgpro}} class="img-fluid" alt="">
  <div class="social">
    <a (click)="onclickabout()"><i [className]="ourteambox.ourtwittericon"></i></a>
    <a (click)="onclickabout()"><i [className]="ourteambox.ourfacebookicon"></i></a>
    <a (click)="onclickabout()"><i [className]="ourteambox.ourinstagramicon"></i></a>
    <a (click)="onclickabout()"><i [className]="ourteambox.ourlinkedinicon"></i></a>
  </div>
</div>
<div class="member-info text-center">
  <h4>{{ourteambox.ourtemtitle}}</h4>
  <span>{{ourteambox.ourtemspan}}</span>
  <p>{{ourteambox.ourtemdesc}}
  </p>
</div>