<div class="testimonail-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor=" let testi of testibox">
            <div class="testimonial-sliders">
              <app-testichild [testi]="testi"></app-testichild>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
  
  
       
       