<section id="features" class="sec-bg3">
  <div class="container">
    <p class="con1">Features</p>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="feature-card-bg">
          <div class="fetu-card-inner">
            <div class="feu-card-title-bg">
              <div class="feu-card-title">
                <h3>Eco Friendly</h3>
              </div>
              <div class="feu-title-icon">
                <i class="las la-ellipsis-h"></i>
              </div>
            </div>
            <div class="feu-card-body">
              <p>
                We use environmentally friendly products whenever possible to
                keep your family safe.
              </p>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card-bg">
          <div class="fetu-card-inner">
            <div class="feu-card-title-bg">
              <div class="feu-card-title">
                <h3>Like</h3>
              </div>
              <div class="feu-title-icon">
                <i class="las la-ellipsis-h"></i>
              </div>
            </div>
            <div class="feu-card-body">
              <p>
                Our Customers love how great their homes look and feel after
                each clean.
              </p>
              <span>2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card-bg">
          <div class="fetu-card-inner">
            <div class="feu-card-title-bg">
              <div class="feu-card-title">
                <h3>Fully</h3>
              </div>
              <div class="feu-title-icon">
                <i class="las la-ellipsis-h"></i>
              </div>
            </div>
            <div class="feu-card-body">
              <p>
                We're fully insured,locally registered BC business serving the
                Vancouver area.
              </p>
              <span>3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <div class="energy_feature_part">
          <div class="box1">
            <img src="assets/image/power-icon.jpg" class="img-fluid" alt="" />
            <p>
              Lorem ipsum dolor sit amet,<br />
              consectetur adipisicing elit:
            </p>
          </div>
          <div class="box2">
            <p>
              We help you keep your space<br />
              clean and safe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="book_appointment_section_bg">
  <div class="container">
    <div class="feature_book_part">
      <span class="icon"
        ><img src="assets/image/power-pink-icon.jpg" alt="" class="img-fluid"
      /></span>
      <div class="info">
        <p class="str2">
          Providing friendly , professional<br />
          cleaning services for all our<br />
          customers in the Greater<br />
          Vancouver Area:
        </p>
        <button class="btn-sec1-btn4">Book Appoinment</button>
      </div>
    </div>
  </div>
</section>

<section class="featured_big_thumb">
  <div class="container">
    <div class="featured_big_col">
      <img src="assets/image/mbr.jpg" alt="" class="img-fluid" />
    </div>
  </div>
</section>
