week-8/AspnetCore-1/.vs/
week-8/AspnetCore-1/AspnetCore-1/bin/
week-8/AspnetCore-1/AspnetCore-1/obj/
week-8/OdeToFood/.vs/
week-8/OdeToFood/OdeToFood/bin/
week-8/OdeToFood/OdeToFood/obj/
week-8/OdeToFood2/.vs/
week-8/OdeToFood2/bin/
week-8/OdeToFood2/obj/