<div class="product-section mt-150 mb-150" id="onShop">
  <div class="container">

    <div class="row">
              <div class="col-md-12">
                  <div class="product-filters">
                      <ul>
                          <li  (click)="filter('all')">All</li>
                          <li  (click)="filter('strawberry')">Strawberry</li>
                          <li  (click)="filter('berry')">Berry</li>
                          <li  (click)="filter('lemon')">Lemon</li>
                      </ul>
                  </div>
              </div>
    </div>

    <div class="row product-lists-product"   >
      <div class="col-lg-4 col-md-6 text-center " *ngFor="let shopdata of filimage |  paginate : { itemsPerPage: 3, currentPage: page, totalItems: total } ">
       <app-shopboxdata [shopdata] = "shopdata"></app-shopboxdata> 
      </div>
     
    </div>  
 
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
          <div class="pagination-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>




    
        

   
  
