<div class="sec-5-second-part" id="Pricing">
    <div class="sec5-title text-center">
        <h6>Devoted to wonderful beauty</h6>
        <h3>flower Pricing</h3>
    </div>
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card1-img.jpg" class="img-fluid">
                    <h5>Dahila</h5>
                    <span>$45</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card2-img.jpg" class="img-fluid">
                    <h5>Mazus</h5>
                    <span>$45</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card3-img.jpg" class="img-fluid">
                    <h5>Pansies</h5>
                    <span>$45</span>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card1-img.jpg" class="img-fluid">
                    <h5>Dahila</h5>
                    <span>$45</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card2-img.jpg" class="img-fluid">
                    <h5>Mazus</h5>
                    <span>$45</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flow-pris-part text-center">
                    <img src="assets/image/ser-card3-img.jpg" class="img-fluid">
                    <h5>Pansies</h5>
                    <span>$45</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec-5-third-part">
    <div class="sec5-title text-center">
        <h6>Devoted to wonderful beauty</h6>
        <h3 class="pb-3">Events Pricing</h3>
    </div>

    <div class="row pt-2">
        <div class="col-md-4">
            <div class="event-cards">
                <p><span>$16</span>Per table</p>
                <h5>Birthday Event</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto.</p>
                <div class="shop-now-btn">
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="event-cards">
                <p><span>$31</span>Per table</p>
                <h5>Wedding Event</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto.</p>
                <div class="shop-now-btn">
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="event-cards">
                <p><span>$52</span>Per table</p>
                <h5>Party Event</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto.</p>
                <div class="shop-now-btn">
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

