<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>{{title}}</h2>
      <p>{{desc}}</p>
    </div>
 
    <owl-carousel-o [options]="customOptions" >
      <ng-template carouselSlide *ngFor="let testibox of testidata"> 
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <app-testibox [testibox]="testibox"></app-testibox>
            </div>
          </div>
      </ng-template> 
    </owl-carousel-o>
  </div>
  
</section><!-- End Testimonials Section -->
