/*body {
  background: url(bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  background-position: 200px 200px;
  background-size: cover;
  background-attachment: fixed;
  height: 900vh;
}
.make {
  width: 100vw;
}*/
.meal {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 500px;
}
.tweet {
  filter: grayscale(30%) blur(30%);
  width: 300vw;
}
