<section id="media" class="slider-sec-img slider-bg">
  <div class="container">
    <div class="slider-part-inner">
      <div class="slider-inner-tilte text-center">
        <h2>As it was before</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia
          sequi omnis error,<br />
          porro obcaecati <b>aut temporibus voluptates.</b> Qui, rem!
        </p>
      </div>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide [id:any]="slide.id">
        <img [src]="slide.img" />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
