<form
  class="form-horizontal"
  autocomplete="off"
  #createRestaurantForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewRestaurant' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "RestaurantName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="restaurant.name"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="Location">
        {{ "Location" | localize }}
      </label>
      <div class="col-md-9">
        <div class="row">
          <div class="col">
            <select
              class="form-select"
              aria-label="Default select example"
              name="location"
              [(ngModel)]="restaurant.location"
            >
              <option selected value="" selected>Enter the Location</option>
              <option value="Ahmedabad">Ahmedabad</option>
              <option value="Surat">Surat</option>
              <option value="Surendranagar">Surendranagar</option>
              <option value="Nikol">Nikol</option>
              <option value="Bodakdev">Bodakdev</option>
              <option value="Viratnagar">Viratnagar</option>
              <option value="Bapunagar">Bapunagar</option>
              <option value="Vastral">Vastral</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="OpeningTime">
        {{ "OpeningTime" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="datetime-local"
          class="form-control"
          name="OpeningTime"
          id="OpeningTime"
          [(ngModel)]="restaurant.openingTime"
          #OpeningTime="ngModel"
          #OpeningTimeEl
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="ClosedTime">
        {{ "ClosedTime" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="datetime-local"
          class="form-control"
          name="ClosedTime"
          id="ClosedTime"
          [(ngModel)]="restaurant.closedTime"
          #ClosedTime="ngModel"
          #ClosedTimeEl
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="Capacity">
        {{ "Capacity" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="Capacity"
          id="Capacity"
          required
          [(ngModel)]="restaurant.capacity"
          #Capacity="ngModel"
          #CapacityEl
        />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createRestaurantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
