<div class="section cta">
  <div class="container">
    <div class="row" *ngFor="let data of layout">
      <div class="col-lg-5">
        <div class="shop">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>{{ data?.label }}</h6>
                <h2>
                  {{ data?.label1 }} <em>{{ data?.tag }}</em> {{ data?.tag2 }}
                </h2>
              </div>
              <p>
                {{ data?.paragraph }}
              </p>
              <div class="main-button">
                <a routerLink="Shop">{{ data?.label2 }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2 align-self-end">
        <div class="subscribe">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>{{ data?.label3 }}</h6>
                <h2>
                  {{ data?.label4 }}<em>{{ data?.tag3 }}</em> {{ data?.tag4 }}
                </h2>
              </div>
              <div class="search-input">
                <form id="subscribe" action="#">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Your email..."
                  />
                  <button type="submit">{{ data?.label5 }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
