<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-left-part">
                    <h2>Affiliate Marketing</h2>
                    <div class="foot-social-icon">
                        <ul>
                            <li>
                                <a href="#"><i class="lab la-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="lab la-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="lab la-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-widget-block">
                            <h4>Description</h4>
                            <ul>
                                <li><a href="#">Sit amet</a></li>
                                <li><a href="#">Consectetur adipisicing</a></li>
                                <li><a href="#">Iusto molestiae</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget-block">
                            <h4>Products</h4>
                            <ul>
                                <li><a href="#">Elit accusamus</a></li>
                                <li><a href="#">Amet atque</a></li>
                                <li><a href="#">Autem dolorem</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget-block">
                            <h4>About us</h4>
                            <ul>
                                <li><a href="#">Ipsa ipsam</a></li>
                                <li><a href="#">Iusto molestiae</a></li>
                                <li><a href="#">Nisi nostrum</a></li>
                                <li><a href="#">Maxime voluptatum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="copyright-text">
                    © Copyright 2030 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
