<!-- =======  F.A.Q Section ======= -->
<section id="faq">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>{{ title }}</h2>
    </div>

    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-9">
        <ul class="faq-list">
          <li *ngFor="let data of faqdetails">
            <div
              data-bs-toggle="collapse"
              class="collapsed question"
              [attr.href]="'#' + data.id"
              aria-expanded="false"
            >
              {{ data.qus }}
              <i class="bi bi-chevron-down icon-show"></i
              ><i class="bi bi-chevron-up icon-close"></i>
            </div>
            <div [id]="data.id" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{ data.ans }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
