<!-- <div class="tab-content">
    <div *ngIf="activatedTabIndex == 0" >
        <div class="tab-header text-center" >
            <p>Menu</p>
            <h3>Starters</h3>
          </div>
          <div class="row gy-5" >
            <div class="col-lg-4 menu-item" *ngFor="let menutabcont of menutabarry">
              <a [attr.href]="menutabcont.menucontimg" class="glightbox"><img src={{menutabcont.menucontimg}} class="menu-img img-fluid" alt=""></a>
              <h4>{{menutabcont.menuconttitle}}</h4>
              <p class="ingredients">
                {{menutabcont.menuconttitingr}}
              </p>
              <p class="price">
                {{menutabcont.menucontprice}}
              </p>
            </div>
          </div>
    </div>
    <div *ngIf="activatedTabIndex == 1" >
        <div class="tab-header text-center" >
            <p>Menu</p>
            <h3>Breakfast</h3>
          </div>
          <div class="row gy-5" >
            <div class="col-lg-4 menu-item" *ngFor="let menutabcont of menutabarry">
              <a [attr.href]="menutabcont.menucontimg" class="glightbox"><img src={{menutabcont.menucontimg}} class="menu-img img-fluid" alt=""></a>
              <h4>{{menutabcont.menuconttitle}}</h4>
              <p class="ingredients">
                {{menutabcont.menuconttitingr}}
              </p>
              <p class="price">
                {{menutabcont.menucontprice}}
              </p>
            </div>
          </div>
    </div>
    <div *ngIf="activatedTabIndex == 2" >
        <div class="tab-header text-center" >
            <p>Menu</p>
            <h3>Lunch</h3>
          </div>
          <div class="row gy-5" >
            <div class="col-lg-4 menu-item" *ngFor="let menutabcont of menutabarry">
              <a [attr.href]="menutabcont.menucontimg" class="glightbox"><img src={{menutabcont.menucontimg}} class="menu-img img-fluid" alt=""></a>
              <h4>{{menutabcont.menuconttitle}}</h4>
              <p class="ingredients">
                {{menutabcont.menuconttitingr}}
              </p>
              <p class="price">
                {{menutabcont.menucontprice}}
              </p>
            </div>
          </div>
    </div>
    <div *ngIf="activatedTabIndex == 3" >
        <div class="tab-header text-center" >
            <p>Menu</p>
            <h3>Dinner</h3>
          </div>
          <div class="row gy-5" >
            <div class="col-lg-4 menu-item" *ngFor="let menutabcont of menutabarry">
              <a [attr.href]="menutabcont.menucontimg" class="glightbox"><img src={{menutabcont.menucontimg}} class="menu-img img-fluid" alt=""></a>
              <h4>{{menutabcont.menuconttitle}}</h4>
              <p class="ingredients">
                {{menutabcont.menuconttitingr}}
              </p>
              <p class="price">
                {{menutabcont.menucontprice}}
              </p>
            </div>
          </div>
    </div>
</div> -->