
  <div class="checkout-accordion-wrap">
    <div class="accordion" id="accordionExample">
      <div class="card single-accordion">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{left.head}}
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="billing-address-form">
              <form action=""  action-method="post" [formGroup]="checkoutForm" #userform="ngForm" (ngSubmit)="onSubmit()">
                
                <span style="color: red" *ngIf="name.invalid && name.touched">Fill this field</span>
                <p><input type="text" ngModel placeholder="{{left.ph1}}" formControlName="name"></p>
                
                <span style="color: red" *ngIf="emailid.invalid && emailid.touched">Fill this field</span>
                <p><input type="email" ngModel placeholder="{{left.ph2}}" formControlName="emailid"></p>
                
                <span style="color: red" *ngIf="add.invalid && add.touched">Fill this field</span>
                <p><input type="text" ngModel placeholder="{{left.ph3}}" formControlName="add"></p>
                
                <span style="color: red" *ngIf="phoneno.invalid && phoneno.touched">Fill this field</span>
                <p><input type="tel" ngModel placeholder="{{left.ph4}}" formControlName="phoneno"></p>

                <p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="{{left.ph5}}"></textarea></p>
                <button type="submit" value="Submit" [disabled]="checkoutForm.invalid" class="btnsub">Submit</button>

              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="card single-accordion">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{left.head2}}
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="shipping-address-form">
              <p>{{left.dis}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="card single-accordion">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{left.head3}}
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div class="card-details">
              <p>{{left.dis2}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

