<app-bannerslider></app-bannerslider>
<main id="main">

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>Minus hic non reiciendis ea possimus at quia.</h3>
            <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis
              ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus
              dicta.
            <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt
              porro magni qui necessitatibus dolorem at animi cupiditate.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="fade">
          <form action="forms/quote.php" method="post" class="php-email-form" [formGroup]="qutform" (ngSubmit)="collectData()">
            <h3>Get a quote</h3>
            <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero
              park flows.</p>
            <div class="row gy-3">

              <div class="col-md-12">
                <input type="text" name="name"  formControlName="name" ngModel placeholder="Name" required>
                <span *ngIf="name.invalid && name.touched" class="error-form-required">Name is minlength</span>
              </div>

              <div class="col-md-12 ">
                <input type="email"  name="email" formControlName="email" ngModel placeholder="Email" required>
                <span *ngIf="email.invalid && email.touched" class="error-form-required">Email is not valid</span>
              </div>

              <div class="col-md-12">
                <input type="text"  name="phone" formControlName="phone" ngModel placeholder="Phone" required>
                <span *ngIf="phone.invalid && phone.touched" class="error-form-required">Phone is required</span>
              </div>

              <div class="col-md-12">
                <textarea  name="message" rows="6" formControlName="message" ngModel placeholder="Message" required>
                  <span *ngIf="message.invalid" class="error-form-required">Message is required</span>
                </textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                <button type="submit" [disabled]="qutform.invalid">Get a quote</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- End Get Started Section -->

 <app-constructions></app-constructions>
 <!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Services</h2>
      <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>
    </div>
    <app-homeservices></app-homeservices>
  </div>
</section>

<!-- End Services Section -->

 <app-altservices></app-altservices>
 <app-hometab></app-hometab>
 <app-ourprojects></app-ourprojects>
  <app-testimonials></app-testimonials>
   <!-- ======= Recent Blog Posts Section ======= -->
 <section id="recent-blog-posts" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">

  <div class=" section-header">
    <h2>Recent Blog Posts</h2>
    <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
  </div>
  <app-homeblogpost ></app-homeblogpost>
  </div>
</section>
<!-- End Recent Blog Posts Section -->
 
 
</main><!-- End #main -->


