<main id="main">
  <div *ngFor="let breadcrumb of breaddata">
    <app-breadcrumbs [breadcrumb]="breadcrumb" *ngIf="breadcrumb?.id == 'blog'"></app-breadcrumbs>
  </div>
  
  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 posts-list">
        <app-homeblogpost></app-homeblogpost>
        
      </div><!-- End blog posts list -->

      <div class="blog-pagination">
        <ul class="justify-content-center">
          <li><a (click)="onblog()">1</a></li>
          <li class="active" ><a (click)="onblog()">2</a></li>
          <li><a (click)="onblog()">3</a></li>
        </ul>
      </div><!-- End blog pagination -->

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->
