<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>{{sectitle}}</h2>
      <p>{{secdesc}}</p>
    </div>
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100"  *ngFor="let serbox of serviboxdata">
         <app-homesericesbox [serbox]="serbox"></app-homesericesbox>
      </div>
      <!-- End Service Item -->
    </div>

<!-- End Services Section -->