<header class="header_main">
    <div class="container-fluid px-4">
        <div class="header-wrapper">
            <div class="header-logo">
                <img src="assets/images/logo.png" alt="" class="img-fluid" />
            </div>
            <div class="header-menu">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="partner">Partners</a></li>
                    <li><a routerLink="marketing">Marketing</a></li>
                    <li><a routerLink="faq">FAQ</a></li>
                </ul>
            </div>
            <div class="header-action-btn">
                <button class="btn btn-outline-primary">Log in</button>
                <button class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </div>
</header>