<h1>Recap Routing and Module in angular</h1>
<ul>
  <li>
    <a routerLink="login">Go to Login Page</a>
  </li>
  <li>
    <a routerLink="list">Go to List Page</a>
  </li>
</ul>
<hr>

<h1> Routing Module in angular</h1>
<ul>
  <li>
    <a routerLink="login"> Login </a>
  </li>
  <li>
    <a routerLink="list"> List </a>
  </li>
</ul>
<hr>

<h1>group Routing</h1>
<h3>Admin pages</h3>
<ul>
  <li>
    <a routerLink="admin/login"> Login </a>
  </li>
  <li>
    <a routerLink="admin/list"> List </a>
  </li>
</ul>

<h3>public pages</h3>
<ul>
  <li>
    <a routerLink="public/login"> Login </a>
  </li>
  <li>
    <a routerLink="public/list"> List </a>
  </li>
</ul>
<hr>





<router-outlet></router-outlet>