<div class="reply-form">
  <h4>Leave a Reply</h4>
  <p>Your email address will not be published. Required fields are marked * </p>
  <form action="" [formGroup]="commentform" (ngSubmit)="collectData()">
    <div class="row">
      <div class="col-md-6 form-group">
        <input name="name" type="text" formControlName="name" ngModel placeholder="Your Name*">
        <span *ngIf="name.invalid && name.touched" class="error-form-required">Name is minlength</span>
      </div>
      <div class="col-md-6 form-group">
        <input name="email" type="text" formControlName="email" ngModel  placeholder="Your Email*">
        <span *ngIf="email.invalid && email.touched" class="error-form-required">Email is not valid</span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <input name="website" type="text" formControlName="website" ngModel placeholder="Your Website">
        <span *ngIf="website.invalid && website.touched" class="error-form-required">Website is required</span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <textarea name="comment" formControlName="comment" ngModel placeholder="Your Comment*">
        <span *ngIf="comment.invalid && comment.touched" class="error-form-required">Comment is required</span>

        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="commentform.invalid">Post Comment</button>

  </form>

</div>