/* .meal {
    /* clip-path: polygon(0% 20%, 
    60% 20%,
     60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
     */

     /* filter: grayscale(50%) blur(3px); */
 body{
    background:url(../Images/constellation.svg);
}
.ufo{
    width: 100px;
} 

.icon{
    font-size: 2rem;
    color: dodgerblue;
}
