
@{
    ViewBag.Title = "Marketing";
}

<section id="marketing" class="sec-8 comman-sec">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="marketing-heading">
                    <h2>Modern marketing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5  ">
                <p class="market-second-right">
                    Consectetur adipisicing elit. Dolorum, laboriosam, recusandae. Eos,
                    illum maiores minus obcaecati
                    saepe vero. Dolore doloribus ducimus error exercitationem.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <div class="marketing-second-row-percen">
                    <span>99%</span>
                    <p class="m-0">Libero porro tempore voluptatibus. Qui, ratione. Lorem ipsum dolor.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="mark-img-part">
                    <img src="~/Content/images/sec-8-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-9 comman-sec">
    <div class="container">

        <div class="grid_item_row">
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card1">
                        <img src="~/Content/images/faq-sec-img.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center"> Vero <br /> voluptatem</p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card2">
                        <img src="~/Content/images/card-item-5.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Consectetur <br /> adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card3">
                        <img src="~/Content/images/card-item-2.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                At beatae <br /> consectetur dolor
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card4">
                        <img src="~/Content/images/sec-8-img.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Ea eius
                                <br /> fugiat laboriosam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card5">
                        <img src="~/Content/images/card-item-3.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Necessitatibus <br /> placeat

                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card6">
                        <img src="~/Content/images/card-item-7.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Possimus<br /> quibusdam

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_item_col">
                <div class="cards-item-sec">
                    <div class="card grid_card7">
                        <img src="~/Content/images/sec-right-front.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Quis quisquam <br /> quos
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-item-sec">
                    <div class="card grid_card8">
                        <img src="~/Content/images/card-item-8.jpg" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Temporibus
                                <br /> tenetur
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
