
@{
    ViewBag.Title = "Partners";
}

<section id="partners" class="sec-2 comman-sec">
   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-two-left">
                    <!-- <img src="~/Content/images/sec2-left-img.jpg" alt="" class="img-fluid" /> -->
                    <img src="~/Content/images/sec-2left.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec-two-right">
                    <h2>
                        Advertising <br />
                        Agency <br />
                        Partners
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-4 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-6">
                <h3 class="step-heading">3 steps to <br />successful <br /> advertising</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-3 offset-md-3">
                <div class="step-info-box">
                    <span>1.</span>
                    <p>
                        Inventore ipsam labore libero nemo neque nisi non quo, repudiandae saepe similique
                        voluptatum.
                    </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="step-info-box">
                    <span>2.</span>
                    <p>Natus nobis odit possimus quia sit tempora unde voluptates. Ad, iusto neque nisi non quo.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-info-box">
                    <span>3.</span>
                    <p>Quibusdam recusandae reiciendis repellendus rerum similique sunt temporibus. Iusto, quia.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-5 comman-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="sec-5-img-block">
                    <img src="~/Content/images/sec2-left-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sec-5-img-block">
                    <img src="~/Content/images/sec-5blockimg2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-6">
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
                <p class="sec-5-article">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi assumenda, earum fuga
                    recusandae repellendus suscipit? Adipisci architecto consequuntur deserunt dicta doloribus
                    impedit magnam modi, neque saepe sequi veritatis.
                </p>
            </div>
        </div>
    </div>
</section>



