
@{
    ViewBag.Title = "Partners";
}

<section id="partners" class="sec-2 comman-sec">
   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-two-left">
                    <!-- <img src="~/Content/images/sec2-left-img.jpg" alt="" class="img-fluid" /> -->
                    <img src="~/Content/images/sec-2left.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec-two-right">
                    <h2>
                        Advertising <br />
                        Agency <br />
                        Partners
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>








