<section class="blog_area" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar" *ngFor="let area of blogarea">
          <app-Blogarea [area]="area"></app-Blogarea>
        </div>
        <nav class="blog-pagination justify-content-center d-flex">
          <ul class="pagination">
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                  <span class="lnr lnr-chevron-left"></span>
                </span>
              </a>
            </li>
            <li class="page-item">
              <a (click)="onblog()" class="page-link">01</a>
            </li>
            <li class="page-item active">
              <a (click)="onblog()" class="page-link">02</a>
            </li>
            <li class="page-item">
              <a (click)="onblog()" class="page-link">03</a>
            </li>
            <li class="page-item">
              <a (click)="onblog()" class="page-link">04</a>
            </li>
            <li class="page-item">
              <a (click)="onblog()" class="page-link">09</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                  <span class="lnr lnr-chevron-right"></span>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Posts"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>

            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{{ blogpost.img }}"
              alt=""
            />
            <h4>{{ blogpost.name }}</h4>
            <p>{{ blogpost.desc }}</p>
            <div class="social_icon">
              <a href="#"><i class="{{ blogpost.face }}"></i></a>
              <a href="#"><i class="{{ blogpost.twitter }}"></i></a>
              <a href="#"><i class="{{ blogpost.git }}"></i></a>
              <a href="#"><i class="{{ blogpost.behance }}"></i></a>
            </div>
            <p>
              {{ blogpost.describe }}
            </p>
            <div class="br"></div>
          </aside>
          <app-blogrightmain></app-blogrightmain>
          <aside class="single_sidebar_widget ads_widget">
            <a href="#"
              ><img class="img-fluid" src="assets/img/blog/add.jpg" alt=""
            /></a>
            <div class="br"></div>
          </aside>
          <app-blogrightcategory></app-blogrightcategory>
          <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">{{ news.title }}</h4>
            <p>
              {{ news.content }}
            </p>
            <div class="form-group d-flex flex-row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
                <form
                  [formGroup]="subscribe"
                  #subForm="ngForm"
                  (ngSubmit)="onSub()"
                >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    id="inlineFormInputGroup"
                    placeholder="Enter email"
                  />
                </form>
              </div>
              <a
                [attr.href]="news.link"
                class="bbtns btn btn-primary"
                type="submit"
                >{{ news.btn }}</a
              >
            </div>
            <span
              style="color: red; padding: 20px"
              *ngIf="email && email.invalid && email.touched"
              >Input field is required</span
            >

            <p class="text-bottom">{{ news.desc }}</p>
            <div class="br"></div>
          </aside>
          <app-blogtechmain></app-blogtechmain>
        </div>
      </div>
    </div>
  </div>
</section>
