#products ~ p {
    color: orangered;
} 

article p:first-child{
    font-size: 140%;
    font-style: italic;
}
 article :last-child{
    font-weight: bold;
 }
 ul li:nth-child(3n)
{
    color: deeppink;
}
a:visited, a:link{
    color:rgb(194, 46, 202);
}
a:hover, a:focus{
    color: aquamarine;
}

::first-letter {
    font-size: 100%;
    font-weight:bold;
}
p::first-line{
    font-weight: bold;
    color: darkolivegreen;
}
::selection{
    background-color: darkslategrey;
}
p::before{
    content:'...';
}
p::after{
    content: '...';
}

p2{
    color:maroon;
}
strong{
    color:initial;
    border: solid;
} 

h1{
    color: black !important;
}
.highlight{
    color: deepskyblue;
}
#products1 {
    color: purple;
}

.box {
     width: 200px;
     height: 200px;
     background: rgb(2,0,36);
     background: linear-gradient(51deg, rgba(2,0,36,1) 0%, rgba(105,194,190,1) 51%, rgba(0,212,255,1) 100%);
      
     border: 8px solid royalblue;
     border-top: 8px solid royalblue;
     border-width: 10px ;
     border-radius: 2%;

     box-shadow: 10px 10px 20px grey;
    }
h3{
    color: white;
    text-shadow: 5px 5px  rgba(0,0,0,0.2);
}
