.container
{
    display: grid;
    /*3 * 2*/
   /*grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,100px); OR OPTION*/
    grid-template: 100px auto 100px / 30fr 70fr;
    
    justify-content: right;
    grid-template-areas: 
        "header header" 
        "sidebar main" 
        ".        footer";
    border : 3px solid black;
    color:aliceblue;
    gap:10px;
    height:50vh;
}
.box{
    background-color: black;
  }
  