<!-- <router-outlet></router-outlet> -->
<h2>hello world</h2>
<h2>{{ title }}</h2>
<h3>{{ name }}</h3>
<h3>{{ getname() }}</h3>
<h3>{{ obj.name }}</h3>
<h3>{{ obj.age }}</h3>
<h3>{{ arr }}</h3>
<h3>{{ arr[1] }}</h3>
<h3>{{ arr.length }}</h3>
<h3>{{ siteUrl }}</h3>
<h3>{{ 10 + 10 }}</h3>
<app-auther></app-auther>

<app-login></app-login>
<button (click)="getNAME('JAHANVI')">Get my name</button>
<br /><br /><br />
<button (click)="myEvent('This is click Event')">Click Me</button>
<br /><br /><br />
<!-- <input type="text" #box (keyup.space)="myEvent(box.value)" /> -->
<br /><br /><br />
<input type="text" #boxval (blur)="myEvent('blur event')" />

<h1 (mouseover)="myEvent('mouseover')" style="background-color: blueviolet">
  Mouse Event
</h1>

<h1
  (mouseleave)="myEvent('mouseleave-event')"
  style="background-color: crimson"
>
  Mouse Event
</h1>
<br /><br /><br />
<input type="text" #box />
<!-- (keyup)="getval($event)" /> -->
<button (click)="getval(box.value)">Get Value</button>
<h2>{{ currentval }}</h2>
<br /><br /><br />
<input type="text" [disabled]="disableBox" [value]="name" />
<br /><br />
<input type="text" [disabled]="disableBox" value="{{ name }}" />
<br /><br /><br />
<button (click)="enableBox()">Enable Textbox</button>
<h1>Condition in Angular</h1>
<!-- <h1 *ngIf="show == 'yes'; else elseBlock">if block</h1>
<ng-template #ifBlock>
  <h1>if block</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template> -->

<!-- 
<h1>If condition</h1>
<ng-template [ngIf]="show == 'red'">
  <h1>Red Plants</h1>
</ng-template>
<ng-template [ngIf]="show == 'green'">
  <h1>green Plants</h1>
</ng-template>
<ng-template [ngIf]="show == 'purple'">
  <h1>purple Plants</h1>
</ng-template> -->

<h1>Switch Case</h1>
<div [ngSwitch]="color">
  <h2 style="color: red" *ngSwitchCase="'red'">red color</h2>
  <h2 style="color: purple" *ngSwitchCase="'purple'">purple color</h2>
  <h2 style="color: yellow" *ngSwitchCase="'yellow'">yellow color</h2>
  <h2 style="color: blue" *ngSwitchCase="'blue'">blue color</h2>
  <h2 style="color: gray" *ngSwitchCase>default color</h2>
</div>

<h1>for loop</h1>
<h4 *ngFor="let item of data">
  {{ item.name }}
  {{ item.age }}
  {{ item.email }}
</h4>

<h1>Table</h1>
<table border="1">
  <tr>
    <td>name</td>
    <td>age</td>
    <td>email</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.name }}</td>
    <td>{{ item.age }}</td>
    <td>{{ item.email }}</td>
  </tr>
</table>

<app-header> </app-header>
<h1>Form</h1>
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" ngModel name="user" placeholder="enter user name" />
  <br /><br />
  <input type="text" ngModel name="age" placeholder="enter age" />
  <br /><br />
  <input type="text" ngModel name="email" placeholder="enter email " />
  <br /><br />
  <input type="text" ngModel name="address" placeholder="enter address" />
  <br /><br />
  <input type="password" ngModel name="password" placeholder="enter password" />
  <br /><br />
  <button>Get User Values</button>
</form>
<app-footer></app-footer>
<br /><br />
<h1>Style Binding in Angular</h1>
<h1 style="color: red">Heading 1</h1>
<h1 [style.color]="'green'">Heading 1</h1>
<h1 [style.color]="color">Heading 1</h1>
<h1 [style.color]="err ? 'red' : 'green'">Conditional style</h1>
<button (click)="UpdateColor()">Update Color</button>
<br /><br />
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{
    alert.message
  }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>
<br /><br />
<button mat-button color="primary">Angular Mat Button</button>
<br /><br />
<button mat-flat-button color="accent">Accent</button><br /><br />
<button mat-flat-button color="primary">primary</button><br /><br />
<button mat-flat-button color="warn">Warn</button><br /><br />

<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-slider>
  <input matSliderThumb />
</mat-slider>
<div *ngFor="let data of information">
  <app-user [hero]="data"></app-user>
</div>
