<section id="sponsorship" class="sponsors-section-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main_heading">
          <p>SPONSORSHIP</p>
          <h2>Our Sponsors</h2>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Montreal, 2019</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Berlin, 2018</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Barcelona, 2017</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Beijing, 2016</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Toronto, 2019</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Moscow, 2018</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Florence, 2017</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="sponsor_col_box">
          <h6>Sponsors from Marseilles, 2016</h6>
          <p>www.mobirise.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
