<footer>
  <div class="footer_1">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <ul class="foot_list_col">
            <li>Claire Clean</li>
            <li>About Us</li>
          </ul>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <ul class="foot_list_col">
            <li>Cleaning Services</li>
            <li>Book Appointment</li>
          </ul>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <ul class="foot_list_col">
            <li>Cancellation Policy</li>
            <li>Our Pricing</li>
          </ul>
        </div>
        <div class="col-md-12 text-center mt-5 mb-4">
          <p class="foot_notes">Keeping it clean since 2018</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_2 text-center">
    <div class="container">
      <p class="copyright_text">
        © Copyright 2025 Mobirise - All Rights Reserved
      </p>
    </div>
  </div>
</footer>
