@model AspnetCore2.Model.Restaurant

@{
	ViewBag.Title = Model.Name;
}	

<div>


<h1>@Model.Name</h1>
<div> Id:@Model.Id</div>
<div>
	Cuisine:@Model.Cuisine
</div>

@*<a asp-action="Index" asp-controller="Home">Home</a>*@
<a href="/home/index">Home</a>
</div>
 
	