<section id="marketing" class="sec-8 comman-sec">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="marketing-heading">
                    <h2>Modern marketing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5  ">
                <p class="market-second-right">Consectetur adipisicing elit. Dolorum, laboriosam, recusandae. Eos,
                    illum maiores minus obcaecati
                    saepe vero. Dolore doloribus ducimus error exercitationem.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <div class="marketing-second-row-percen">
                    <span>99%</span>
                    <p class="m-0">Libero porro tempore voluptatibus. Qui, ratione. Lorem ipsum dolor.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="mark-img-part">
                    <img src="assets/images/sec-8-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

