<!-- ======= About Section ======= -->
<section id="about">
  <div
    class="container position-relative aos-init aos-animate"
    data-aos="fade-up"
  >
    <div class="row">
      <div class="col-lg-6">
        <h2>{{ title }}</h2>
        <p>
          {{ desc }}
        </p>
      </div>
      <div class="col-lg-3">
        <h3>{{ tit1 }}</h3>
        <p>{{ t1desc }}</p>
      </div>
      <div class="col-lg-3">
        <h3>{{ tit2 }}</h3>
        <p>{{ t2desc }}<br />{{ t22desc }}</p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
