

  <!-- <div class="portfolio-content h-100">
    <img  src={{ourdata.img}} class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4>{{ourdata.head}}</h4>
      <p>{{ourdata.desc}}</p>
      <a [attr.href]="ourdata.hrefimg" title="Remodeling 1"
        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
          [class]="ourdata.iconzoom"></i></a>
      <a routerLink="/projects/projects-details/{{ourdata.projectdetailId}}" title="More Details" class="details-link"><i
        [class]="ourdata.iconlink"></i></a>
    </div>
  </div> -->

  <lightgallery [settings]="settings" class="portfolio-content h-100">
    <img  src={{ourdata.img}} class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4>{{ourdata.head}}</h4>
      <p>{{ourdata.desc}}</p>
      <a [attr.data-lg-thumbnail]="ourdata.img" [attr.href]="ourdata.img" title="Remodeling 1"
        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
          [class]="ourdata.iconzoom"></i></a>
      <a routerLink="/projects/projects-details/{{ourdata.projectdetailId}}" title="More Details" class="details-link"><i
        [class]="ourdata.iconlink"></i></a>
    </div>
  </lightgallery>

  <!-- <lightgallery [settings]="settings">
    <a href="assets/img/features-1.jpg">
        <img alt="img1" src="assets/img/features-1.jpg" class="img-fluid" />
    </a>
    <a href="assets/img/features-2.jpg">
        <img alt="img1" src="assets/img/features-2.jpg" class="img-fluid" />
    </a>
</lightgallery> -->



