<!-- <div class="swiper-slide">
  <div class="testimonial-item">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
          <h3>Saul Goodman</h3>
          <h4>Ceo &amp; Founder</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-2 text-center">
        <img src="assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
      </div>
    </div>
  </div>
</div> -->


<owl-carousel-o [options]="customOptions" >
  <ng-template carouselSlide *ngFor="let testimonibox of value">
    <div class="testimonial-item" >
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-6" >
          <div class="testimonial-content" >
            <p>
              <i [className]="testimonibox.qouticonleft"></i>
              {{testimonibox.testidesc}}
              <i [className]="testimonibox.qouticonright"></i>
            </p>
            <h3>{{testimonibox.testititle}}</h3>
            <h4>{{testimonibox.testisubtitle}}</h4>
            <div class="stars">
              <i [className]="testimonibox.staricon"></i><i [className]="testimonibox.staricon"></i><i [className]="testimonibox.staricon"></i><i [className]="testimonibox.staricon"></i><i [className]="testimonibox.staricon"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <img src={{testimonibox.testprofileimg}} class="img-fluid testimonial-img" alt="">
        </div>
      </div>
    </div>
  </ng-template>

</owl-carousel-o>