<section class="portfolio_area section_gap_top" id="portfolio">
  <div class="container" style="height: 2000px">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title text-left">
          <h2>
            quality work <br />
            Recently done project
          </h2>
        </div>
      </div>
    </div>
    <div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*" (click)="alllist()">
          {{ tab1 }}
        </li>
        <li data-filter=".popular" (click)="onevent()">{{ tab2 }}</li>
        <li data-filter=".latest" (click)="onlatest()">{{ tab3 }}</li>
        <li data-filter=".following" (click)="onfollow()">{{ tab4 }}</li>
        <li data-filter=".upcoming" (click)="onup()">{{ tab5 }}</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row portfolio-grid justify-content-center">
        <div class="col-lg-4 col-md-6 all" *ngFor="let tab of list">
          <app-tabchild [tab]="tab"></app-tabchild>
        </div>
      </div>
    </div>
  </div>
</section>
