@{
    ViewBag.Title = "About";
}
<main> @*aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

    <section class="slider-sec" id="About us">
        <div class="container">
            <div class="slider-main-title text-center">
                <p>Services</p>
                <h4>we offer variety of floral services , from unique bouquets <br /> to event decoration</h4>
            </div>

            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card1-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Decoration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card2-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Floral Design</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card3-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Event</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card4-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Decoration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card4-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Floral Design</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card1-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Event</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card2-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Decoration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="~/Content/image/ser-card3-img.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-text">Floral Design</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row py-5 gx-0">
                <div class="col-md-6 ">
                    <div class="ser-row2-left-part-bg">
                        <div class="ser-row2-left-part">
                            <h5>Our Mission</h5>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus veritatis odio ipsum
                                at nostrum quae, quos, libero ullam excepturi natus tempora repellendus, dolores
                                voluptate laboriosam ab saepe illo! Iusto, cupiditate.
                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ser-row2-right-part">
                        <img src="~/Content/image/ser-card1-img.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <!--
                        <div class="row py-5 sec-row justify-content-center ">
                            <div class="col-md-6">
                                <div class="ser-row2-left-part-bg">
                                    <div class="ser-row2-left-part">
                                        <h5>Our Mission</h5>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus veritatis odio ipsum
                                            at nostrum quae, quos, libero ullam excepturi natus tempora repellendus, dolores
                                            voluptate laboriosam ab saepe illo! Iusto, cupiditate.</p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ser-row2-right-part">
                                    <img src="~/Content/imageser-card1-img.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div> -->

            <div class="row justify-content-center  sec-row-3">
                <div class="col-md-3">
                    <div class="slide-row3-part">
                        <div class="sli-row3-title">
                            <div class="ico-part"><i class="las la-smile"></i></div>
                            <div class="text-part">
                                <h5>Happiness</h5>
                            </div>

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="slide-row3-part">
                        <div class="sli-row3-title">
                            <div class="ico-part"><i class="las la-heart"></i></div>
                            <div class="text-part">
                                <h5>Organic</h5>
                            </div>

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="slide-row3-part">
                        <div class="sli-row3-title">
                            <div class="ico-part"><i class="las la-sun"></i></div>
                            <div class="text-part">
                                <h5>Freshness</h5>
                            </div>

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="slide-row3-part">
                        <div class="sli-row3-title">
                            <div class="ico-part"><i class="las la-shopping-cart"></i></div>
                            <div class="text-part">
                                <h5>Delivery</h5>
                            </div>

                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- owal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>

    <section class="sec-4-mini ">
        <div class="sec4-inner-part">
            <h4>Sale 50%</h4>
            <h6>weekly discount-</h6>
        </div>
    </section>
</main>