@{
    ViewBag.Title = "Contact";
}
<main> @*aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

      <section class="sec-8-con" id="Contacts">
        <div class="sec-8-title text-center">
            <h6>Contact</h6>
            <h3>Where to find</h3>
        </div>
        <div class="container">
            
            <div class="row pt-5">

                <div class="col-md-4">
                    <div class="event-card1">
                        <h4>Toronto</h4>
                        <h5>Say hello</h5>
                        <p>email@site.com</p>
                        <h5>Phone</h5>
                        <p>+369 35 353562 3544</p>
                        <h5>Address</h5>
                        <p>4th Avenue 4856,New York</p>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="event-card2">
                        <h4>Paris</h4>
                        <h5>Say hello</h5>
                        <p>email@site.com</p>
                        <h5>Phone</h5>
                        <p>+369 35 353562 3544</p>
                        <h5>Address</h5>
                        <p>4th Avenue 4856,New York</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event-card3">
                        <h4>Barcelona</h4>
                        <h5>Say hello</h5>
                        <p>email@site.com</p>
                        <h5>Phone</h5>
                        <p>+369 35 353562 3544</p>
                        <h5>Address</h5>
                        <p>4th Avenue 4856,New York</p>
                    </div>
                </div>

            </div>
        </div>
        

        <div class="sub">
            <div class="sub-title text-center">
                <i class="lar la-heart" style="color: #054816; font-size: 40px;"></i>
                <h3>Subscribe to Us</h3>
                <p>Interactively utilize leveraged interfaces vis a vis state of<br>
                    the art human capital interactively parallel task focused<br>
                    content via low-risk high yield internal or "Organic" source</p>
                <div class="email-form">
                    <div class="form-area">
                        <input type="text" data-for="email" placeholder="Your Email">
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>


        </div>
    </section>

</main>