<footer class="footer-main">
  <div class="container">
    <div class="footer_wrap1">
      <div class="row">
        <div class="col-md-2">
          <img
            src="assets/images/logo-festivale.png"
            style="height: 60px"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-3">
          <div class="footer_widget_item">
            <h6>Montréal</h6>
            <p>
              5505 Boul St-Laurent #2000,<br />
              QC H2T 1S6, Canada
            </p>
          </div>
          <div class="footer_widget_item">
            <h6>Toronto</h6>
            <p>
              224 Wallace Ave #200, Toronto,<br />
              ON M6H 1V7, Canada
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_widget_item">
            <h6>Partnership</h6>
            <p>
              Interested in working with us?<br />
              <b>mobirise@company.com</b>
            </p>
          </div>
          <div class="footer_widget_item">
            <h6>Phone</h6>
            <p>Ph: +(123)456-78-90</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer_widget_item">
            <h6>Subscribe</h6>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your email"
                aria-label="Your email"
                aria-describedby="button-addon2"
              />
              <button class="btn btn-primary" type="button" id="button-addon2">
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_wrap2">
      <div class="row">
        <div class="col-md-6">
          <p>
            New Theme ConferenceM4 2020.<br />
            Festival of Colors layout.
          </p>
        </div>
        <div class="col-md-6 text-end">
          <p>© 2020 Mobirise - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
