<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>client say about me</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel" *ngFor="let child of slider">
        <app-slider-child [child]="child"></app-slider-child>
      </div>
    </div>
  </div>
</div>
