<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex  align-items-center justify-content-between p-2">
        <!-- <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a> -->
        <div>
          <h4>Simpal Header</h4>
        </div>

        <div>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-white">
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<body>
  <div class="container">
    <!-- simple-alert -->
    <h2>Alert</h2>
    <p>
      <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </ngb-alert>
    </p>
    <!-- Closable-Alert -->
    <h2 class="mt-4">Closable Alert</h2>
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
    </p>
     <!-- Closable-Alert -->
     <h2 class="mt-4">Button</h2>
     <div class="ang-btn d-flex align-items-center justify-content-between">
      <button mat-button color="primary">Basic</button>
      <button mat-raised-button color="accent">Raised</button>
      <button mat-stroked-button color="warn">Stroked</button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-flat-button color="primary">Flat</button>
      <button mat-fab color="warn">Fab</button>
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
      </button>
      <mat-slider showTickMarks>
        <input matSliderThumb>
      </mat-slider>
     </div>


     <!-- parent to child -->
     <app-user  [Nvalue]="Value" [Cdata]="data"></app-user>
     <!-- reusable-compo -->
     <div *ngFor="let data of detail">
     <app-produts [heros]="data"></app-produts>
     </div>
      
      <!-- child to parent -->
     <app-author (formParent) = "formParent($event)" ></app-author>

    <br><br>
    <b><h4 class="text-primary">{{name}}</h4></b>

    <!-- built-in pipe -->
    <div class="bg-dark text-white p-4 rounded mb-4">
    <h3 class="text-center fs-1 mb-4">Pipes</h3>
    <h3>This is built-in pipes : {{authorname | uppercase}}</h3>
    <h3>This is built-in pipes : {{authorname | titlecase}}</h3>
    <h3>This is built-in pipes : {{authorname | lowercase}}</h3>
    <h3>This is built-in pipes : {{today | date}}</h3>
    <h3>This is built-in pipes : {{today | date : 'fullDate'}}</h3>

    <h3>This is built-in pipes : {{str}}</h3>
    <h3>This is built-in pipes : {{str | slice : 1:2}}</h3>
    <h3>This is built-in pipes : {{money | currency: 'USD' }}</h3>
    <h3>This is built-in pipes : {{money | currency: 'CAD' }}</h3>

  </div>


    <!-- pipes-custom -->
    <!-- <h3>This is custom pipe : {{4 | square}}</h3> -->
    <h3>This is custom pipe : {{8 | power: 2}}</h3>



      <!-- routing -->
  <div>
    <b><h2>Routing</h2></b>
    <!-- <a routerLink="admin">Admin</a> -->
 
    <!-- <a routerLink="routuser">RoutUser</a> -->
  
    <router-outlet routerLink="admin">Admin</router-outlet> <br>
    <router-outlet routerLink="routuser">routuser</router-outlet><br>
    <router-outlet routerLink="invalid">Page not found</router-outlet>

 </div>

 <!-- directive -->
 <h3 class="fs-4 mb-2">Directive</h3>
 <h4 class="mb-0">Normal Heading</h4>
 <h4 appCustomstyle>Custom Heading</h4>

  </div>

</body>