
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">
 
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit uisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>
      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
 
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper"></div>
 
          <app-testingbox [value] = "data | async"></app-testingbox>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
 
  </div>
 </section>
 
