<div class="breadcrumb-section breadcrumb-bg" id="new">
  <div class="container" *ngFor="let bread of crumb ">
    <app-breadcrump [bread]="bread" *ngIf="bread.id == 'news'"></app-breadcrump>
  </div>
</div>

<div class="latest-news mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let news1box of news1 |  paginate : { itemsPerPage: 3, currentPage: page, totalItems: total } ">
        <app-newsbox [news1]="news1box "></app-newsbox>
      </div>
    </div>



    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="pagination-wrap">
              <div class="pagination-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
