<form class="form-horizontal" 
autocomplete="off"
#createRoleForm="ngForm" 
(ngSubmit)="save()">

    <abp-modal-header [title]="'CreateNewProject' | localize"
      (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    
  <div class="modal-body">
        <!-- <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Projectname" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" 
            class="form-control" 
            name="Projectname" id="Projectname" 
            required minlength="2" 
            maxlength="32"
              [(ngModel)]="projres.projectName" 
              #nameModel="ngModel" #nameEl />
            <abp-validation-summary [control]="nameModel" 
            [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div> -->



        <div class="form-group row">

          <label class="col-md-3 col-form-label" for="name">
            {{ "ProjectName" | localize }}
          </label>
          <select [(ngModel)]="projres.projectId" name="ProjectId" class="setectopt">
            <option [ngValue]="null" selected>Select Project Name</option>
            <option *ngFor="let project of proj " [ngValue]="project.id">{{project.name}}</option>
          </select>

        
        </div>

        <div class="form-group row ">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Firstname" | localize }}
            </label>
            <div class="col-md-9">
              <input type="text" 
              class="form-control" 
              name="Firstname" id="Firstname" 
              [(ngModel)]="projres.firstName" 
                #nameModel="ngModel" #nameEl />
              <abp-validation-summary [control]="nameModel" 
              [controlEl]="nameEl"></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Lastname" | localize }}
            </label>
            <div class="col-md-9">
              <input type="text" 
              class="form-control" 
              name="Lastname" id="Lastname" 
               [(ngModel)]="projres.lastName" 
                #nameModel="ngModel" #nameEl />
              <abp-validation-summary [control]="nameModel" 
              [controlEl]="nameEl"></abp-validation-summary>
            </div>
          </div>

  </div>


  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>

</form>