<h1>Routing</h1>

<a routerLink="user">User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">About</a>
<hr>

<h1>Custom Directive in angular</h1>
<h2>Normal Heading</h2>
<h2 appCustomStyle>Custom Heading</h2>
<hr>

<h2>{{name}}</h2>


<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>User Id</td>
    </tr>
    
    <tr *ngFor="let item of data"> 
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr> 
</table>

<router-outlet></router-outlet>