
  <div class="portfolio-info">
    <h3>{{projectdetsideinfodata.prsidintitle}}</h3>
    <ul>
      <li><strong>{{projectdetsideinfodata.prsidinst1}}</strong> <span>{{projectdetsideinfodata.prsidinsp1}}</span></li>
      <li><strong>{{projectdetsideinfodata.prsidinst2}}</strong> <span>{{projectdetsideinfodata.prsidinsp2}}</span></li>
      <li><strong>{{projectdetsideinfodata.prsidinst3}}</strong> <span>{{projectdetsideinfodata.prsidinsp3}}</span></li>
      <li><strong>{{projectdetsideinfodata.prsidinst4}}</strong> <a href="#">{{projectdetsideinfodata.prsidinsp4}}</a></li>
      <li><a href="#" class="btn-visit align-self-start">{{projectdetsideinfodata.prsidinsp5}}</a></li>
    </ul>
  </div>
