<section class="brand_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
          <div *ngFor="let iconic of data" class="col-lg-4 col-md-4 col-sm-6">
            <app-Icone [iconic]="iconic"></app-Icone>
          </div>
        </div>
      </div>

      <div class="offset-lg-2 col-lg-4 col-md-6">
        <div class="client-info">
          <div class="d-flex mb-50">
            <span class="lage">{{ age }}</span>
            <span class="smll">{{ des }}</span>
          </div>
          <div class="call-now d-flex">
            <div>
              <span class="fa fa-phone"></span>
            </div>
            <div class="ml-15">
              <p>{{ number }}</p>
              <h3>{{ desc }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
