<div class="row">
  <div class="col-lg-6">
    <div class="left_img">
      <img class="img-fluid1" src="{{ pchild.img }}" alt="" />
    </div>
  </div>
  <div class="offset-lg-1 col-lg-5">
    <div class="portfolio_right_text mt-30">
      <h4 class="text-uppercase">{{ pchild.title }}</h4>
      <p>
        {{ pchild.desc }}
      </p>
      <ul class="list">
        <li>
          <span>Rating</span>: <i [className]="pchild.rating"></i
          ><i [className]="pchild.rating"></i><i [className]="pchild.rating"></i
          ><i [className]="pchild.rating"></i
          ><i [className]="pchild.rating"></i>
        </li>
        <li><span>Client</span>:{{ pchild.client }}</li>
        <li><span>Website</span>: {{ pchild.web }}</li>
        <li><span>Completed</span>: {{ pchild.complete }}</li>
      </ul>
    </div>
  </div>
</div>
