.main-head{
    margin-bottom: 40px;
    text-align: center;
   
  }
.main-head h2{
    color: brown;
    font-size: 45px;
}
.mouse-evt h1{
   background-color: skyblue;
   margin-top: 20px;
   font-size: 30px;
   padding: 10px 0;
   color: red;
}
.mouse-evt h1:last-child{
  background-color: red;
  color: skyblue;

}
.react-form form textarea{
  width: 100%;
  border-radius: 5px;
}
/* .table-bordertable, th, td{
  border:1px solid black;
  padding: 10px;
} */



