<section class="sec-6-team" id="Contacts">

    <div class="sec-6-title text-center">
        <h6>Contact</h6>
        <h3>Over Team</h3>
    </div>
    <div class="container">
        <div class="row pt-5 gx-0">
            <div class="col-md-4">
                <div class="team-part text-center ">
                    <img src="assets/image/ser-card4-img.jpg" class="img-fluid">
                    <h5 class="pt-3">Velva Kopf</h5>
                    <span>Biologist</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-part text-center ">
                    <img src="assets/image/portr2.jpg" class="img-fluid">
                    <h5 class="pt-3">Sarah Palmer</h5>
                    <span>Florist</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-part text-center ">
                    <img src="assets/image/portr3.jpg" class="img-fluid">
                    <h5 class="pt-3">Jessica Swift</h5>
                    <span>Photographer</span>
                </div>
            </div>
        </div>


        <div class="row pt-5 justify-content-center">
            <div class="col-md-9">
                <div class="out-tem-bott">
                    <div class="ser-row3-left-part">
                        <h2>The fine makers of flora</h2>
                        <h3>Mary Byrd</h3>
                    </div>
                    <div class="ser-row3-left-part">
                        <p>Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Accusantium
                            voluptatum ex quas eius iste quod.
                            Molestias consequatur quos harum ducimus!</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="sec-7-client">
    <div class="sec-7-title text-center">
        <h3> Our Clients </h3>
    </div>
    <div class="container">
        <div class="our-sec-inner">
            <div class="client-img-part">
                <img src="assets/image/1.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/5.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/3.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/4.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/6.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/3 (1).png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/4.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/3 (2).png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/6.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/1.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/5.png" class="img-fluid">
            </div>
            <div class="client-img-part">
                <img src="assets/image/6.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="sec-8-con">
    <div class="sec-8-title text-center">
        <h6>Contact</h6>
        <h3>Where to find</h3>
    </div>
    <div class="container">
        <div class="row pt-5">

            <div class="col-md-4">
                <div class="event-card1">
                    <h3>Toronto</h3>
                    <h4>Say hello</h4>
                    <p>email@site.com</p>
                    <h4>Phone</h4>
                    <p>+369 35 353562 3544</p>
                    <h4>Address</h4>
                    <p>4th Avenue 4856,New York</p>
                </div>
            </div>
            <div class="col-md-4">

                <div class="event-card2">
                    <h3>Paris</h3>
                    <h4>Say hello</h4>
                    <p>email@site.com</p>
                    <h4>Phone</h4>
                    <p>+369 35 353562 3544</p>
                    <h4>Address</h4>
                    <p>4th Avenue 4856,New York</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-card3">
                    <h3>Barcelona</h3>
                    <h4>Say hello</h4>
                    <p>email@site.com</p>
                    <h4>Phone</h4>
                    <p>+369 35 353562 3544</p>
                    <h4>Address</h4>
                    <p>4th Avenue 4856,New York</p>
                </div>
            </div>

        </div>
    </div>
    

    <div class="sub">
        <div class="sub-title text-center">
            <i class="lar la-heart" style="color: #054816; font-size: 40px;"></i>
            <h3>Subscribe to Us</h3>
            <p>Interactively utilize leveraged interfaces vis a vis state of<br>
                the art human capital interactively parallel task focused<br>
                content via low-risk high yield internal or "Organic" source</p>
            <div class="email-form">
                <div class="form-area">
                    <input type="text" data-for="email" placeholder="Your Email">
                </div>
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

    </div>
    
</section>