<section class="slider-sec" id="About us">
    <div class="container">
        <div class="slider-main-title text-center">
            <p>Services</p>
            <h4>we offer variety of floral services , from unique bouquets <br /> to event decoration</h4>
        </div>

        <div class="row">
            <!-- <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="card">
                        <img src="assets/image/ser-card1-img.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-text">Decoration</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="assets/image/ser-card2-img.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-text">Floral Design</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="assets/image/ser-card3-img.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-text">Event</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="assets/image/ser-card4-img.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-text">Decoration</h5>
                        </div>
                    </div>
                </div>

            </div> -->

              
<owl-carousel-o [options]="customOptions">
  
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide [id:any]="slide.id">
        <img [src]="slide.img" >
      </ng-template>
    </ng-container>
      
    </owl-carousel-o>

</div>

        <div class="row py-5 sec-row justify-content-center ">
            <div class="col-md-6">
                <div class="ser-row2-left-part-bg">
                    <div class="ser-row2-left-part">
                        <h5>Our Mission</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus veritatis odio ipsum
                            at nostrum quae, quos, libero ullam excepturi natus tempora repellendus, dolores
                            voluptate laboriosam ab saepe illo! Iusto, cupiditate.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ser-row2-right-part">
                    <img src="assets/image/ser-card1-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="row justify-content-center  sec-row-3">
            <div class="col-md-3">
                <div class="slide-row3-part">
                    <div class="sli-row3-title">
                        <div class="ico-part"><i class="las la-smile"></i></div>
                        <div class="text-part">
                            <h5>Happiness</h5>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate error similique possimus
                        dolor nulla impedit sint enim, </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="slide-row3-part">
                    <div class="sli-row3-title">
                        <div class="ico-part"><i class="las la-heart"></i></div>
                        <div class="text-part">
                            <h5>Organic</h5>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate error similique possimus
                        dolor nulla impedit sint enim, </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="slide-row3-part">
                    <div class="sli-row3-title">
                        <div class="ico-part"><i class="las la-sun"></i></div>
                        <div class="text-part">
                            <h5>Freshness</h5>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate error similique possimus
                        dolor nulla impedit sint enim, </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="slide-row3-part">
                    <div class="sli-row3-title">
                        <div class="ico-part"><i class="las la-shopping-cart"></i></div>
                        <div class="text-part">
                            <h5>Delivery</h5>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate error similique possimus
                        dolor nulla impedit sint enim, </p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sec-4-mini ">
    <div class="sec4-inner-part">
        <h4>Sale 50%</h4>
        <h6>weekly discount-</h6>
    </div>
</section>