<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"

>
<!-- (ngSubmit)="save()" -->
<abp-modal-header
[title]="'View Ticket' | localize"
(onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">
      {{ "TicketHolderName" | localize }}
    </label>
    <p>{{tickets.ticketHolderName}}</p>
  </div>
  <div class="form-group row ">
    <label class="col-md-3 col-form-label" for="discount">
      {{ "Discount" | localize }}
    </label>
    <p>{{tickets.discount}}</p>
   
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="eventId">
      {{ "EventName" | localize }}
    </label>
   <p>{{tickets.eventName}}</p>
  </div>
</div>


</form>
