<main id="main">
  <div *ngFor="let breadcrumb of breaddata">
    <app-breadcrumbs [breadcrumb]="breadcrumb" *ngIf="breadcrumb?.id == 'blog-details'"></app-breadcrumbs>
  </div>

  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
        <div class="row g-5">
          <div class="col-lg-8">
            <app-blogdetaiartcal></app-blogdetaiartcal>
            <app-blogdetailautor></app-blogdetailautor>
            
            <app-blogdetailcomments></app-blogdetailcomments>
        

          </div>

        <app-blogdetailsidebar class="col-lg-4"></app-blogdetailsidebar>
        </div>
    </div>
  
  </section><!-- End Blog Details Section -->

</main><!-- End #main -->
