<!-- <div *ngFor="let eventsbox of value">
<div class="swiper-slide event-item d-flex flex-column justify-content-end" [style.backgroundImage]="'url(' + eventsbox.url + ')'">
  <h3>{{eventsbox.evntstitle}}</h3>
  <div class="price align-self-start">{{eventsbox.evntsprice}}</div>
  <p class="description">
    {{eventsbox.eventdesc}}
  </p>
</div>
</div>  -->


    <div class="carousel-Slide event-item d-flex flex-column justify-content-end" [style.backgroundImage]="'url(' + eventsbox.url + ')'">
    <h3>{{eventsbox.evntstitle}}</h3>
    <div class="price align-self-start">{{eventsbox.evntsprice}}</div>
    <p class="description">
      {{eventsbox.eventdesc}}
    </p>
  </div>

