<header class="header_area navbar_fixed">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html"
          ><img src="assets/img/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" [attr.href]="head?.link1">{{
                head?.class1
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [attr.href]="head?.link2">{{
                head?.class2
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [attr.href]="head?.link3">{{
                head?.class3
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [attr.href]="head?.link4">{{
                head?.class4
              }}</a>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ head?.cls }}</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" [attr.href]="head?.link5">{{
                    head?.class5
                  }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [attr.href]="head?.link6">{{
                    head?.class6
                  }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ head?.cls1 }}</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" [attr.href]="head?.link7">{{
                    head?.class7
                  }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [attr.href]="head?.link8">
                    {{ head?.class8 }}</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" [attr.href]="head?.link9">{{
                head?.class9
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
