:root {
  --bs-accordion-bg: transparent;
}
body {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 14px;
}

/*footer*/
.footer-bg {
  background-color: #2c0066;
  width: 100%;
  color: #fff;
  padding: 80px 0;
}

.foot-social-icon ul {
  color: #fff;
  padding: 0;
  margin: 30px 0 0 -5px;
}

.foot-social-icon ul li {
  display: inline-block;
}

.foot-social-icon ul li a {
  color: #e9e4ff;
  font-size: 32px;
}
.foot-social-icon ul li a:hover {
  opacity: 0.7;
}
.footer-left-part h2 {
  font-size: 26px;
  color: #e9e4ff;
}

.footer-widget-block h4 {
  font-size: 18px;
  color: #e9e4ff;
  margin-bottom: 18px;
  font-weight: 600;
}

.footer-widget-block ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-widget-block ul li {
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-widget-block ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #e9e4ff;
  text-decoration: none;
}

.copyright-text {
  font-size: 18px;
  color: #e9e4ff;
  font-weight: 500;
  margin-bottom: 0;
}

/*header*/
.header_main {
  background-color: #550aa9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header-logo img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.header-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header-menu ul li {
  display: inline-block;
  margin: 0 23px;
}

.header-menu ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.header-action-btn button {
  border-radius: 20px;
  border-color: #f8f7ff;
  border-width: 2px;
  font-size: 18px;
  padding: 3px 25px;
  font-weight: 700;
}
.header-action-btn .btn a{
    text-decoration: none;
}
.header-action-btn .btn-outline-primary a {
    color: #fff;
}
.header-action-btn .btn-outline-primary:hover{
   
    background-color: #fff;
    border-color:#fff;
}
.header-action-btn .btn-outline-primary{
    margin-right: 10px;
}
.header-action-btn .btn-outline-primary:hover a {
    color: #550aa9;
}
.header-action-btn .btn-primary a {
    color: #550aa9;
}
.header-action-btn .btn-primary {
    background-color: #f8f7ff;
   
}
.header-action-btn .btn-primary:hover a {
  
    color: #fff;
}
    .header-action-btn .btn-primary:hover {
        background-color: #550aa9;
        border-color: #fff;
    }
    /*.header-action-btn .btn-outline-primary {
  color: #fff;
}

.header-action-btn .btn-primary {
    background-color: #f8f7ff;
    color: #550aa9;
    margin-left: 10px;
}
.header-action-btn .btn-outline-primary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #550aa9;
}
.header-action-btn .btn-outline-primary:active {
  background-color: #fff;
  border-color: #fff;
  color: #550aa9;
}
.header-action-btn .btn-primary:hover {
    border-color: #fff;
    color: #fff;
    background-color: #550aa9;
}
.header-action-btn .btn-primary:active {
  border-color: #fff;
  opacity: 0.7;
  background-color: #fff;
  color: #550aa9;
}*/
    /*header-end*/
    .comman-sec {
        background-color: #ccc;
        width: 100%;
        padding: 100px 0;
    }

.sec-1 {
  background-color: #550aa9;
}

.btn-out-style {
  border-radius: 50px;

  border-width: 2px;
  font-size: 18px;
  padding: 15px 22px;
  font-weight: 500;
}

.sec-one-left {
  text-align: center;
}

.sec-one-left h1 {
  font-size: 75px;
  color: #fff;
}

.sec-one-left p {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 25px 0 55px 0;
}

.sec-one-left .btn-out-style {
  border-color: #fff;
  color: #fff;
}

.sec-one-left .btn-out-style:hover {
  background-color: #fff;
  color: #550aa9;
}

/* .sec1-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.sec1-img-wrapper .img-1 {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
} */

/* .second-img {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.second-img img {
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
} */

/*sec-2*/
.sec-2 {
  background-color: #fff6eb;
}

.sec-2 .row {
  align-items: center;
}

.sec-2 .sec-two-right h2 {
  margin: 0;
  font-size: 60px;
  color: #550aa9;
}

/* .sec-two-left img {
    width: 230px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}
*/
.sec-two-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

.comman-heading {
  font-size: 62px;
  color: #2c0066;
  margin-bottom: 90px;
}

.sec-3 {
  background-color: #e9e4ff;
}

.ser-info-box .icon img {
  height: 50px;
}

.ser-info-box h3 {
  color: #2c0066;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 16px;
}

.ser-info-box p {
  color: #2c0066;
  font-size: 18px;
  margin-bottom: 45px;
  font-weight: 500;
  line-height: 26px;
}

.ser-info-box a {
  color: #2c0066;
  font-size: 18px;

  font-weight: 500;
}

.sec-4 {
  background-color: #f5fefc;
}

.sec-4 .step-heading {
  color: #2c0066;
  font-size: 65px;
  font-weight: 500;
  line-height: 73px;
}

.step-info-box span {
  font-size: 18px;
  font-weight: 700;
  color: #2c0066;
}

.step-info-box p {
  font-size: 18px;
  font-weight: 500;
  color: #2c0066;
}

.sec-5 {
  background-color: #fff6eb;
}

.sec-5-img-block img {
  width: 100%;
  height: 310px;
  border-radius: 20px;
  margin-bottom: 24px;
  object-fit: cover;
}

.sec-5-article {
  font-size: 18px;
  color: #570000;
  font-weight: 500;
}

.sec-6 {
  background-color: #ffe4c1;
}

.sec-6-head {
  font-size: 62px;
  color: #570000;
}

.author-btn-style {
  border-color: #570000;
  color: #570000;
  padding: 10px 20px;
}

.author-btn-style:hover {
  background-color: #570000;
  border-color: #570000;
}

.sec-6 h3 {
  color: #570000;
  margin: 30px 0;
}

.sec-6 p {
  font-size: 18px;
  color: #570000;
  margin: 30px 0;
  font-weight: 500;
  padding: 0 60px;
}

.sec-7 {
  background-color: #fff1de;
  padding-top: 80px;
  padding-bottom: 235px;
}

.sec-7-left {
  color: #570000;
  padding: 0 73px;
}

.sec-7-left p {
  color: #570000;
  font-size: 18px;
  font-weight: 500;
}

.sec-7-left h2 {
  color: #570000;
  font-size: 64px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 20px;
}

.sec-7-right {
  padding-left: 100px;
  position: relative;
}

.sec-7-right .card-wrapper {
  background-color: #570000;
  color: #fff;
  width: 280px;
  min-height: 280px;
  border-radius: 20px;
  padding: 45px 30px;
  position: absolute;
  left: -32px;
  bottom: -157px;
}

.sec-7-right .card-wrapper span {
  font-size: 64px;
  color: #ffe4c1;
  font-weight: 500;
}

.sec-7-right .card-wrapper p {
  text-align: left;
  color: #ffe4c1;
  font-weight: 500;
  font-size: 18px;
}
.sec-7 .last-child {
  padding-left: 107px;
}
.sec-8 {
  background-color: #f8f7ff;
}
.sec-8 .marketing-heading h2 {
  font-size: 64px;
  color: #550aa9;
  text-align: center;
  margin-bottom: 50px;
}
.sec-8 .market-second-right {
  font-size: 26px;
  color: #550aa9;
  font-weight: 500;
  line-height: 34px;
  padding-top: 90px;
  padding-bottom: 15px;
}
.sec-8 .marketing-second-row-percen {
  padding-top: 20px;
  border-top: 2px solid #550aa9;
}
.sec-8 .marketing-second-row-percen span {
  font-size: 64px;
  font-weight: 500;
  color: #550aa9;
}
.sec-8 .marketing-second-row-percen p {
  color: #550aa9;
  font-weight: 500;
  font-size: 18px;
}
.sec-10 {
  background-color: #fff6eb;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sec-10 .affli-right-part img {
  max-width: 290px;
  height: 500px;
  border-radius: 20px;
}
.sec-10 .affli-marketing-tabs p {
  color: #570000;
  font-size: 18px;
}
.sec-10 .affli-marketing-tabs h2 {
  color: #570000;
  font-size: 64px;
}
.sec-10 .tabs-list .tab-pane {
  color: #570000;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}
.sec-10 .tabs-list .nav-link.active {
  background-color: #fff;
}
.sec-10 .tabs-list .nav-link {
  border-radius: 30px;
  padding: 15px 20px;
  color: #570000;
  font-size: 18px;
  background-color: #fff1de;
  margin-right: 16px;
}
.sec-10 .affli-btn {
  background-color: #ffe4c1;
  border-radius: 30px;
  padding: 15px 24px;
  display: inline-block;
  margin-top: 20px;
}
.sec-10 .affli-btn a {
  text-decoration: none;
  color: #c16d00;
  font-weight: 600;
  font-size: 18px;
}
.sec-10 .affli-btn:hover {
  background-color: #c16d00;
}
.sec-10 .affli-btn:hover a {
  color: #fff;
}

.sec-11 {
  background-color: #e9e4ff;
}
.sec-11 .faq-right-img-part img {
  border-radius: 20px;
  /* width: 230px;
    height: 380px; */
  object-fit: cover;
  padding-top: 40px;
}
.faq-rigt-col {
  padding-left: 150px;
}
.sec-11 .accordian-part .accordion-button {
  background-color: transparent;
  font-size: 26px;
  color: #550aa9;
  font-weight: 500;
  padding-left: 0px;
}
.sec-11 .accordian-part .accordion-button:focus {
  display: none;
}
.sec-11 .accordion-body {
  background-color: transparent;
  font-size: 18px;
  color: #550aa9;
  font-weight: 500;
  padding-top: 0;
  padding-left: 0px;
}
.sec-11 .accordian-part .accordion-button:focus-visible {
  display: none;
}
.sec-11 .accordian-part .accordion-button:not(.collapsed) {
  box-shadow: none;
  padding-top: 30px;
}
.sec-11 .accordian-part .accordion-button.collapsed {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sec-11 .accordian-part .accordion-item {
  border: none;
  border-bottom: 1px solid #550aa9;

  background-color: TRANSPARENT;
}
.sec-11 .accordian-part .accordion-item:last-child {
  border: none;
}
.sec-11 .accordian-part .accordion-button:after {
  display: none;
}
.sec-11 .accordian-part .accordion-button.collapsed:after {
  display: block;
}

/* .sec-11 .accordian-part .accordion-button::after
{
    content: "\e960";
    font-weight: 500;
    font-size: 20px;
    font-family: 'Moririse2';
} */
.faq-title h2 {
  font-size: 64px;
  color: #550aa9;
  margin-bottom: 50px;
}
.sec-9 .cards-item-sec .card {
  border-radius: 20px;
  overflow: hidden;
}
.sec-9 .cards-item-sec .card-body p {
  font-size: 18px;
  color: #550aa9;
  font-weight: 500;
}

.accordion_box_part {
  padding-right: 100px;
}
.accordion_box_part .accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #550aa9;
}
.accordion_box_part .accordion-item:last-child {
  border-bottom: none;
}
.accordion_box_part .accordion-button {
  background: none;
  border: none;
  font-size: 26px;
  color: #550aa9;
  font-weight: 500;
  padding-left: 0px;
  box-shadow: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
}
.accordion_box_part .accordion-button:not(.collapsed) {
  padding-bottom: 15px;
}
.accordion_box_part .accordion-button.collapsed::after {
  content: "+";
  background: none;
  transform: none;
  top: -4px;
  position: relative;
}
.accordion_box_part .accordion-button:not(.collapsed):after {
  content: "-";
  background: none;
  transform: none;
}

.sec-9 {
  background-color: #ccf6ee;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.grid_item_row {
  display: flex;
  width: 100%;
  gap: 20px;
}
.grid_item_col {
  width: 25%;
}
.grid_item_col .cards-item-sec {
  margin-bottom: 15px;
}
.grid_item_col .card {
  display: inline-block;
  width: 100%;
  position: relative;
  border: none;
}
.grid_item_col .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_item_col .card-body {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.grid_item_col .card.grid_card1 {
  height: 420px;
}
.grid_item_col .card.grid_card2 {
  height: 420px;
}
.grid_item_col .card.grid_card3 {
  height: 330px;
}
.grid_item_col .card.grid_card4 {
  height: 511px;
}
.grid_item_col .card.grid_card5 {
  height: 511px;
}
.grid_item_col .card.grid_card6 {
  height: 330px;
}
.grid_item_col .card.grid_card7 {
  height: 420px;
}
.grid_item_col .card.grid_card8 {
  height: 420px;
}

.affli_mar_right_grid {
  display: flex;
  width: 100%;
  gap: 20px;
  padding-left: 110px;
}
.affli_mar_grid_col {
  width: 100%;
}
.affli_mar_grid_item {
  height: 100px;
  background-color: #ffe4c1;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.affli_mar_grid_item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.affli_grid1 {
  height: 290px;
}
.affli_grid2 {
  height: 500px;
}
.affli_grid3 {
  height: 290px;
  margin-bottom: 0;
}
.affli_grid4 {
  height: 430px;
}
.affli_grid5 {
  height: 340px;
}
.affli_grid6 {
  height: 340px;
  margin-bottom: 0;
}

.faq_emoji_thumb {
  width: 230px;
  height: 380px;
  border-radius: 20px;
  position: relative;
  margin-top: 80px;
}
.faq_emoji_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 !important;
}
