<section id="home" class="sec-1 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sec-one-left">
                    <h1>
                        Affiliate <br />
                        Marketing
                    </h1>
                    <p>
                        A ab architecto consequuntur dicta doloremque et eveniet,
                        expedita fugit ipsum, iusto molestias nemo nesciunt nobis
                        officiis quidem reiciendis repudiandae similique tempore!
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style">Start Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sec-one-right text-center">
                    <div class="sec1-img-wrapper">
                        <img src="assets/images/sec-1new.png" alt="" class="img-fluid img-1" />
                        <!-- <div class="second-img">
                            <img src="assets/images/sec-right-front.jpg" alt="" class="img-fluid" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-3 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="comman-heading">Additional services</h2>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="ser-info-box">
                    <span class="icon"><img src="assets/images/global-icon.png" alt="" class="img-fluid" /></span>
                    <h3>Vitae voluptatibus</h3>
                    <p>
                        Sit amet, consectetur adipisicing elit. Assumenda autem
                        distinctio dolores ex excepturi facere, hic illo ipsa ipsum
                        itaque labore minus molestias nemo numquam pariatur provident,
                        quisquam velit voluptates.
                    </p>
                    <a href="#"> Itaque labore minus ↗ </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ser-info-box">
                    <span class="icon"><img src="assets/images/note-icon.png" alt="" class="img-fluid" /></span>
                    <h3>Vitae voluptatibus</h3>
                    <p>
                        Sit amet, consectetur adipisicing elit. Assumenda autem
                        distinctio dolores ex excepturi facere, hic illo ipsa ipsum
                        itaque labore minus molestias nemo numquam pariatur provident,
                        quisquam velit voluptates.
                    </p>
                    <a href="#"> Itaque labore minus ↗ </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-6 comman-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="sec-6-head pb-5 mb-5">Authors and brands</h2>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-5">
                <div class="card-wrapper text-center">
                    <img src="assets/images/brand-sec-img.png" alt="" class="img-fluid">
                    <h3 class="brand-sec-title">Amet consectetur adipisicing</h3>
                    <p>Elit Illo iusto libero natus nesciunt nobis officiis quam quia quibusdam quod. Accusamus at
                        consequuntur corporis incidunt labore necessitatibus officiis quos similique voluptatibus.
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style author-btn-style">See More</a>
                </div>

            </div>
            <div class="col-md-5">
                <div class="card-wrapper text-center">
                    <img src="assets/images/brand-sec-img2.png" alt="" class="img-fluid">
                    <h3 class="brand-sec-title">Soluta tenetur deleniti</h3>
                    <p>Ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut culpa eius illo iusto laudantium, minus modi nemo neque nihil possimus, provident quae quaerat quia quidem, saepe.
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-out-style author-btn-style">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-10 comman-sec">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="affli-marketing-tabs">
                    <p><b>Veritatis voluptate voluptatem</b></p>
                    <h2>Affiliate marketing</h2>
                    <div class="tabs-list pt-4">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-idea-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-idea" type="button" role="tab" aria-controls="pills-idea"
                                    aria-selected="true"><b>Idea</b></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-team-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-team" type="button" role="tab"
                                    aria-controls="pills-team" aria-selected="false"><b>Team</b></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-statistics-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-statistics" type="button" role="tab"
                                    aria-controls="pills-statistics" aria-selected="false"><b>Statistics</b></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-person-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-person" type="button" role="tab"
                                    aria-controls="pills-person" aria-selected="false"><b>Person</b></button>
                            </li>
                           
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-idea" role="tabpanel"
                                aria-labelledby="pills-idea-tab" tabindex="0">At autem consectetur dolorem enim,
                                expedita fuga iusto modi nisi obcaecati, odit, officia optio vitae voluptas.
                                Dolorum.</div>
                            <div class="tab-pane fade" id="pills-team" role="tabpanel"
                                aria-labelledby="pills-team-tab" tabindex="0">Ad adipisci amet asperiores beatae
                                consectetur consequuntur delectus deleniti dignissimos facere iste labore maiores
                                nemo neque nulla.</div>
                            <div class="tab-pane fade" id="pills-statistics" role="tabpanel"
                                aria-labelledby="pills-statistics-tab" tabindex="0">Nimi atque consequuntur cum dolor
                                et eum eveniet expedita impedit ipsum modi neque nesciunt, placeat provident quia
                                quod repellendus reprehenderit sed, tempora?</div>
                            <div class="tab-pane fade" id="pills-person" role="tabpanel"
                                aria-labelledby="pills-person-tab" tabindex="0">Liquid aspernatur assumenda
                                consectetur corporis dolorum ea, error esse facere facilis, fugiat ipsa iure magnam
                                odio optio, qui quo tempore! Facere, magnam?
                            </div>
                        </div>
                    </div>
                    <div class="affli-btn">
                        <a href="#">See more marketing info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="affli_mar_right_grid">
                    <div class="affli_mar_grid_col">
                        <div class="affli_mar_grid_item affli_grid1"></div>
                        <div class="affli_mar_grid_item affli_grid2">
                            <img src="assets/images/faq-sec-img.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="affli_mar_grid_item affli_grid3"></div>
                    </div>
                    <div class="affli_mar_grid_col">
                        <div class="affli_mar_grid_item affli_grid4"></div>
                        <div class="affli_mar_grid_item affli_grid5"></div>
                        <div class="affli_mar_grid_item affli_grid6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

