@*@{
        ViewBag.Title = "Main";
    }*@

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>Main</h2>*@
<section id="main" class="sec-bg sec-1">
    <div class="container">
        <div class="sec-inner-bg">
            <div class="laundry-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sec1-left-part">
                            <img src="~/Content/image/image5.jpg" alt-"" />

                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center align-items-center">
                        <div class="sec2-right-part text-center">
                            <p class="right1">Laundry</p>
                            <p class="right2">
                                A Revolution is a compact,self-service,<br>
                                automatic laundry equipment module also<br>
                                called launderette or launderette.
                            </p>
                            <div class="sec1-btn-group">
                                <a href="#" class="btn sec1-btn">Get Started</a>
                                <a href="#" class="btn sec2-btn">Cleaning tips</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

