@*@{
        ViewBag.Title = "Princing";
    }

    <h2>Princing</h2>*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="pricing" class="pricing_section">
    <div class="container">
        <div class="section_heading">
            <h4>Our Princing</h4>
        </div>
        <div class="row mt-5 pb-5 pricing_row_part">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="feu-title-icon">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="card-body">
                        <h2 class="card5">Basic</h2>
                        <div class="pricing_body">
                            <div class="pricing_tablist">
                                <h6>Bathroom</h6>
                                <ul>
                                    <li>Clean & polish sinks</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>Kitchen</h6>
                                <ul>
                                    <li>Disinfect & clean sinks</li>
                                    <li>Clean appliance surfaces</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>All living areas</h6>
                                <ul>
                                    <li>Sanitize light switches</li>
                                    <li>Wipe surfaces within reach</li>
                                    <li>Clean floors</li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="card5">$150</h2>
                        <div class="text-center mb-5 mt-5">
                            <button class="btn-12">Book Now</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="feu-title-icon">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                    </div>
                    <div class="card-body">
                        <h2 class="card5">Standard</h2>
                        <div class="pricing_body">
                            <div class="pricing_tablist">
                                <h6>Bathroom</h6>
                                <ul>
                                    <li>Clean & polish sinks</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>Kitchen</h6>
                                <ul>
                                    <li>Disinfect & clean sinks</li>
                                    <li>Clean appliance surfaces</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>All living areas</h6>
                                <ul>
                                    <li>Sanitize light switches</li>
                                    <li>Wipe surfaces within reach</li>
                                    <li>Clean floors</li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="card5">$250</h2>
                        <div class="text-center mb-5 mt-5">
                            <button class="btn-12">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="feu-title-icon">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </div>
                    <div class="card-body">
                        <h2 class="card5">Move-Out</h2>
                        <div class="pricing_body">
                            <div class="pricing_tablist">
                                <h6>Bathroom</h6>
                                <ul>
                                    <li>Clean & polish sinks</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>Kitchen</h6>
                                <ul>
                                    <li>Disinfect & clean sinks</li>
                                    <li>Clean appliance surfaces</li>
                                </ul>
                            </div>
                            <div class="pricing_tablist">
                                <h6>All living areas</h6>
                                <ul>
                                    <li>Sanitize light switches</li>
                                    <li>Wipe surfaces within reach</li>
                                    <li>Clean floors</li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="card5">$350</h2>
                        <div class="text-center mb-5 mt-5">
                            <button class="btn-12">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>