@*@{
        ViewBag.Title = "Review";
    }


    <h2>Review</h2>*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="reviews" class="refresh-sec">
    <div class="refre-main-title">
        <h5>You are our everything</h5>
        <p>refresh</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">
                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">

                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 second_col_ref">
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">

                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">
                                        @*<img src="@Url.Content("~/Content/Images/logo.png")" />*@
                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">

                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
                <div class="ref-card-box-bg">
                    <div class="ref-card-box-inner">
                        <div class="ref-card-head-bg">
                            <div class="ref-card-head-inner">
                                <div class="card-head-inner-left">
                                    <div class="card-head-inner-left-img">

                                        <img src="~/Content/image/image1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-head-inner-left-text">
                                        <h6>Charlie Chamb</h6>
                                        <p>refresh</p>
                                    </div>
                                </div>
                                <div class="card-head-inner-left-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ref-card-body p-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, corporis distinctio totam aspernatur, debitis animi vero quidem illum quis temporibus ullam quibusdam quisquam saepe adipisci repellendus nisi aut aliquid earum?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

