@model WebApplication1.Models.Student
@{
    ViewBag.Title = "Login1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login1</h2>


Id is:@ViewBag.Id
<br />
Name is :@ViewBag.name

@{
    var obj = (WebApplication1.Models.Student)ViewBag.std;
    <span>Id is:@obj.ID</span>
    <span>Name is:@obj.Name</span>
}
<span>@Model.ID</span><br/>
<span>@Model.Name</span>