<!--================ Start Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center" *ngFor="let bread of Fruit">
        <app-breadcrumb
          [bread]="bread"
          *ngIf="bread.id == 'contact'"
        ></app-breadcrumb>
      </div>
    </div>
  </div>
</section>
<!--================ End Banner Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
  <div class="container">
    <div class="row">
      <div class="contact_info">
        <div *ngFor="let contact of cont">
          <app-contactinfo [contact]="contact"></app-contactinfo>
        </div>
      </div>

      <div class="col-lg-9">
        <form
          [formGroup]="contact"
          href="#"
          class="row contact_form"
          id="contactForm"
          action-method="post"
          #userForm="ngForm"
          (ngSubmit)="onContact()"
        >
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                ngModel
                placeholder="Enter your name"
              />

              <span
                style="color: red"
                *ngIf="name && name.invalid && name.touched"
                >Input field is required</span
              >
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                ngModel
                placeholder="Enter email address"
              />
              <span
                style="color: red"
                *ngIf="email && email.invalid && email.touched"
                >Input field is required</span
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="subject"
                formControlName="sub"
                ngModel
                placeholder="Enter Subject"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea
                class="form-control"
                formControlName="msg"
                id="message"
                rows="1"
                ngModel
                placeholder="Enter Message"
              ></textarea>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button
              [disabled]="contact.invalid"
              type="submit"
              value="submit"
              class="primary_btn"
            >
              <span>Send Message</span>
            </button>
          </div>
        </form>
      </div>

      <div
        id="mapBox"
        class="mapBox"
        data-lat="40.701083"
        data-lon="-74.1522848"
        data-zoom="13"
        data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
        data-mlat="40.701083"
        data-mlon="-74.1522848"
        style="position: relative; overflow: hidden"
      ></div>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26432.42324808999!2d-118.34398767954286!3d34.09378509738966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf07045279bf%3A0xf67a9a6797bdfae4!2sHollywood%2C%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1576846473265!5m2!1sen!2sbd"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          class="embed-responsive-item"
        ></iframe>
      </div>
    </div>
  </div>
</section>
