<div class="single-latest-news">
  <a routerLink="/singlenews/{{news1.singledetailid}}">
    <div [class]="news1.class" [style.backgroundImage]="'url(' + news1.img + ')'"></div>
  </a>
  <div class="news-text-box">
    <h3><a routerLink="/singlenews">{{news1.head}}</a></h3>
    <p class="blog-meta">
      <span class="author"><i [class]="news1.icon1"></i> {{news1.s1}}</span>
      <span class="date"><i [class]="news1.icon2"></i> {{news1.s2}}</span>
    </p>
    <p class="excerpt">{{news1.dec}}</p>
    <a routerLink="/singlenews/{{news1.singledetailid}}" class="read-more-btn">{{news1.btn}}<i [class]="news1.s3"></i></a>
  </div>
</div>




   


  
 
