<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>client say about me</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>

    <!-- <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slider of main">
        <div class="row">
          <div class="testi_slider">
            <div class="testi_item">
              <app-sliderchild [slider]="slider"></app-sliderchild>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o> -->

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slider of main">
        <div class="testi_item">
          <div class="row">
            <app-sliderchild [slider]="slider"></app-sliderchild>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- <div class="row">
      <div class="testi_slider">
        <div class="testi_item" *ngFor="let slider of main">
          <app-sliderchild [slider]="slider"></app-sliderchild>
        </div>
      </div> -->
</div>
