@model List<WebApplication1.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customer yet</p>
}
else
{
    <table id ="Customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount Rate</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customers in Model)
            {
                <tr>
                    <td>

                        @Html.ActionLink(customers.Name, "Edit", "Customer", new { id = customers.Id }, null)

                    </td>
                    <td>
                        @customers.MembershipType.DiscountRate%
                    </td>
                    <td>
                        <button data-Customer-id="@customers.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Customer").Datatable();

            $("#Customer").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are You Sure Delete this Customer?", function () {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-Customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

                //if (confirm("Are You Sure Delete this Customer?"))
                //{
                //   $.ajax({
                //       url: "/api/customers/" + button.attr("data-Customer-id"),
                //        method: "DELETE",

                //        success: function ()
                //        {
                //            button.parents("tr").remove();
                //        }
                //    });
                //}
            });
        });
    </script>
}
