	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">{{subtitle}}</p>
							<h1>{{title}}</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">{{btn1}}</a>
								<a href="contact.html" class="bordered-btn">{{btn2}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<app-Help></app-Help>
	<app-OurProduct></app-OurProduct>
	<app-product></app-product>
	<app-testimonail></app-testimonail>
	<app-advertisement></app-advertisement>
	<app-Shopbanner></app-Shopbanner>
	<app-OurNews></app-OurNews>
	
