 <!-- ======= Alt Services Section ======= -->
 <section id="alt-services" class="alt-services">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-around gy-4">
      <div class="col-lg-6 img-bg" style="background-image: url(assets/img/alt-services.jpg);" data-aos="zoom-in"
        data-aos-delay="100"></div>

      <div class="col-lg-5 d-flex flex-column justify-content-center">
        <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
        <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus
          laudantium. Soluta voluptate sed facere corporis dolores excepturi</p>
        <div *ngFor="let altserbox of altserboxdata">
           <app-altservicebox [altserbox]="altserbox"></app-altservicebox>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Alt Services Section -->
