<main id="main">
  <div *ngFor="let breadcrumb of breaddata">
    <app-breadcrumbs [breadcrumb]="breadcrumb" *ngIf="breadcrumb?.id == 'blog-details'"></app-breadcrumbs>
  </div>

  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div *ngFor="let data of  blogdetaildata">
      <div class="row g-5" *ngIf="data.id == blogdetailId">
   
        <div class="col-lg-8">
          <article class="blog-details">

            <div class="post-img">
              <img src={{data.img}} alt="" class="img-fluid">
            </div>
          
            <h2 class="title">{{data.title}}</h2>
          
            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i [class]="data.iconperson"></i> <a [attr.href]="data.icontextlink">{{data.iconpersontext}}</a></li>
                <li class="d-flex align-items-center"><i [class]="data.iconclock"></i> <a [attr.href]="data.icontextlink"><time
                      datetime="2020-01-01">{{data.iconclocktext}}</time></a></li>
                <li class="d-flex align-items-center"><i [class]="data.iconchetdot"></i> <a [attr.href]="data.icontextlink">{{data.iconchetdottext}}</a></li>
              </ul>
            </div><!-- End meta top -->
          
            <div class="content">
              <p>
                {{data.contentdesc1}}
              </p>
          
              <p>
                {{data.contentdesc2}}
              </p>
          
              <blockquote>
                <p>
                  {{data.blockquote}}
                </p>
              </blockquote>
          
              <p>
                {{data.contentdesc3}}
              </p>
          
              <h3>{{data.contenttitle}}</h3>
              <p>
                {{data.contentdesc4}}
              </p>
              <img src={{data.contentimg}} class="img-fluid" alt="">
          
              <h3>{{data.contenttitle1}}</h3>
              <p>
                {{data.contentdesc5}}
              </p>
              <p>
                {{data.contentdesc6}}
              </p>
          
            </div><!-- End post content -->
          
            <div class="meta-bottom">
              <i [class]="data.iconfolder"></i>
              <ul class="cats">
                <li><a [attr.href]="data.href">{{data.iconfoldertext}}</a></li>
              </ul>
          
              <i [class]="data.icontags"></i>
              <ul class="tags">
                <li><a [attr.href]="data.href">{{data.icontagstext1}}</a></li>
                <li><a [attr.href]="data.href">{{data.icontagstext2}}</a></li>
                <li><a [attr.href]="data.href">{{data.icontagstext3}}</a></li>
              </ul>
            </div><!-- End meta bottom -->
          
          </article><!-- End blog post -->
     
          <div class="post-author d-flex align-items-center">
            <img src={{data.img1}} class="rounded-circle flex-shrink-0" alt="">
            <div>
              <h4>{{data.title1}}</h4>
              <div class="social-links" >
          
                <a [attr.href]="data.twhref"><i [class]="data.twicon"></i></a>
                <a [attr.href]="data.facehref"><i [class]="data.faceicon"></i></a>
                <a [attr.href]="data.insthref"><i [class]="data.insticon"></i></a>
              </div>
              <p>
                {{data.desc}}
              </p>
            </div>
          </div><!-- End post author -->
          
          <app-blogdetailcomments ></app-blogdetailcomments>
      

        </div>

      <app-blogdetailsidebar class="col-lg-4" [data]="data"></app-blogdetailsidebar>
      </div>
      </div>
  </div>
  </section><!-- End Blog Details Section -->

</main><!-- End #main -->
