<h4 class="mb-4 pb-lg-2">{{ title }}</h4>

<form
  href="#"
  #userForm="ngForm"
  (ngSubmit)="onSubmit(userForm.value)"
  method="post"
  class="custom-form membership-form shadow-lg"
  role="form"
>
  <h4 class="text-white mb-4">Become a member</h4>

  <div class="form-floating">
    <input
      type="text"
      name="full-name"
      ngModel
      id="full-name"
      class="form-control"
      placeholder="Full Name"
      required
    />

    <label for="floatingInput">Full Name</label>
  </div>

  <div class="form-floating">
    <input
      ngModel
      type="email"
      name="email"
      id="email"
      pattern="[^ @]*@[^ @]*"
      class="form-control"
      placeholder="Email address"
      required
    />

    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating">
    <textarea
      class="form-control"
      id="message"
      name="message"
      ngModel
      placeholder="Describe message here"
      required
    ></textarea>

    <label for="floatingTextarea"> Comments</label>
  </div>

  <button (click)="goToVotes()" type="submit" class="form-control">
    Submit
  </button>
</form>
