<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">


      <div class="col-md-5">
        <div class="single-product-img">
          <img [src]="apple.img" alt="">
        </div>
      </div>


      <div class="col-md-7">
        <div class="single-product-content">
          <h3>{{apple.head}}</h3>
          <p class="single-product-pricing"><span>{{apple.p1}}</span>{{apple.p2}}</p>
          <p> {{apple.dis}}</p>
          <div class="single-product-form">
            <form action="">
              <input type="number" placeholder="0">
            </form>
            <a routerLink="/cart" class="cart-btn"><i [class] ="apple.icon"></i>{{apple.s1}}</a>
            <p><strong>{{apple.s2}}</strong>{{apple.s3}}</p>
          </div>

          
          <h4>{{apple.h}}</h4>
          <ul class="product-share">
            <li><a routerLink=""><i [class]="apple.icon1"></i></a></li>
            <li><a routerLink=""><i [class]="apple.icon2"></i></a></li>
            <li><a routerLink=""><i [class]="apple.icon3"></i></a></li>
            <li><a routerLink=""><i [class]="apple.icon4"></i></a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>