<!-- ======= Speakers Section ======= -->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>{{ title }}</h2>
      <p>{{ desc }}</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let data of speakersdetails">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img [src]="data.img" alt="Speaker 1" class="img-fluid" />
          <div class="details">
            <h3>
              <a (click)="onclick(data.id)">{{ data.title }}</a>
            </h3>
            <p>{{ data.desc }}</p>
            <div class="social">
              <a href=""><i [className]="data.twitter"></i></a>
              <a href=""><i [className]="data.facebook"></i></a>
              <a href=""><i [className]="data.insta"></i></a>
              <a href=""><i [className]="data.link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Speakers Section -->
