
<div class="breadcrumbs d-flex align-items-center" [style.backgroundImage]="'url(' + breadcrumb?.img + ')'">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

    <h2>{{breadcrumb?.title}}</h2>
    <ol>
      <li><a [attr.href]="breadcrumb.routerlink">{{breadcrumb.bread}}</a></li>
      <li><a [attr.href]="breadcrumb.routerlink1">{{breadcrumb?.breadtitle}}</a></li>
      <li *ngIf="breadcrumb?.title2">{{breadcrumb?.title2}}</li>
    </ol>

  </div>
</div>



