<form style="border:5px blue ridge;width:300px; height:260px;">
    <h3 class="text-center">Login</h3>
    <label>Username</label>
    <input class="text-center" type="text" name="User" />
    <br />
    <br />
    <br />
    <label>Password</label>
    <input class="Text-control" type="password" name="pass" />
    <br />
    <br />
    <br />
    <input class="form-control" type="submit" value="submit" />
</form>