<div class="page-heading header-text">
  <div class="container">
    <div class="row" *ngFor="let crump of data">
      <app-Breadcrumb
        [crump]="crump"
        *ngIf="crump?.id == 'Contactus'"
      ></app-Breadcrumb>
    </div>
  </div>
</div>

<div class="contact-page section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="left-text">
          <div class="section-heading">
            <h6>{{ contact?.label }}</h6>
            <h2>{{ contact?.label2 }}</h2>
          </div>
          <p>
            {{ contact?.paragraph }}
          </p>
          <ul>
            <li>
              <span>{{ contact?.label3 }}</span> {{ contact?.label4 }}
            </li>
            <li>
              <span>{{ contact?.label5 }}</span> {{ contact?.tag }}
            </li>
            <li>
              <span>{{ contact?.tag2 }}</span
              >{{ contact?.tag3 }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-12">
              <div id="map">
                <iframe
                  [src]="transform()"
                  width="100%"
                  height="325px"
                  frameborder="0"
                  style="border: 0; border-radius: 23px"
                  allowfullscreen=""
                ></iframe>
              </div>
            </div>

            <div class="col-lg-12">
              <form
                id="contact-form"
                action-method="post"
                ngNativeValidate
                #userForm="ngForm"
                (ngSubmit)="onSubmit(userForm)"
              >
                <div class="row">
                  <div class="col-lg-6">
                    <fieldset>
                      <input
                        type="name"
                        name="name"
                        id="name"
                        placeholder="Your Name..."
                        autocomplete="on"
                        required
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input
                        type="surname"
                        name="surname"
                        id="surname"
                        placeholder="Your Surname..."
                        autocomplete="on"
                        required
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input
                        type="text"
                        name="email"
                        id="email"
                        pattern="[^ @]*@[^ @]*"
                        placeholder="Your E-mail..."
                        required=""
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input
                        type="subject"
                        name="subject"
                        id="subject"
                        placeholder="Subject..."
                        autocomplete="on"
                      />
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea
                        name="message"
                        id="message"
                        placeholder="Your Message"
                      ></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" href="#" role="button">
                        {{ contact?.buttonname }}
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
