<div class="page-heading header-text">
  <div class="container">
    <div class="row" *ngFor="let crump of data">
      <app-Breadcrumb
        [crump]="crump"
        *ngIf="crump?.id == 'Contactus'"
      ></app-Breadcrumb>
    </div>
  </div>
</div>

<div class="contact-page section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="left-text">
          <div class="section-heading">
            <h6>{{ contact?.label }}</h6>
            <h2>{{ contact?.label2 }}</h2>
          </div>
          <p>
            {{ contact?.paragraph }}
          </p>
          <ul>
            <li>
              <span>{{ contact?.label3 }}</span> {{ contact?.label4 }}
            </li>
            <li>
              <span>{{ contact?.label5 }}</span> {{ contact?.tag }}
            </li>
            <li>
              <span>{{ contact?.tag2 }}</span
              >{{ contact?.tag3 }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-12">
              <div id="map">
                <iframe
                  [src]="transform()"
                  width="100%"
                  height="325px"
                  frameborder="0"
                  style="border: 0; border-radius: 23px"
                  allowfullscreen=""
                ></iframe>
              </div>
            </div>

            <div class="col-lg-12">
              <form
                class="php-email-form"
                [formGroup]="contactform"
                (ngSubmit)="collectData()"
              >
                <div class="row gy-4">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      ngModel
                      placeholder="Your Name"
                      required
                    />
                    <span
                      *ngIf="name.invalid && name.touched"
                      class="error-form-required"
                      >Name is minlength</span
                    >
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      name="email"
                      formControlName="email"
                      ngModel
                      placeholder="Your Email"
                      required
                    />

                    <span
                      *ngIf="email.invalid && email.touched"
                      class="error-form-required"
                      >Email is not a valid</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="subject"
                    formControlName="subject"
                    ngModel
                    placeholder="Subject"
                    required
                  />
                  <span
                    *ngIf="subject.invalid && subject.touched"
                    class="error-form-required"
                    >Subject is required</span
                  >
                </div>
                <div class="form-group">
                  <textarea
                    name="message"
                    rows="5"
                    placeholder="Message"
                    formControlName="message"
                    required
                  >
                    <span *ngIf="message.invalid" class="error-form-required">Message is required</span>
                  </textarea>
                </div>

                <div class="text-center">
                  <button type="submit" [disabled]="contactform.invalid">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
