<div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
data-portfolio-sort="original-order">

<ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
  <li (click)="filtertab('all')" [class.filter-active]="activeFilter === 'all'">All</li>
  <li (click)="filtertab('remodeling')" [class.filter-active]="activeFilter === 'remodeling'">Remodeling</li>
  <li (click)="filtertab('construction')" [class.filter-active]="activeFilter === 'construction'">Construction</li>
  <li (click)="filtertab('repairs')" [class.filter-active]="activeFilter === 'repairs'">Repairs</li>
  <li (click)="filtertab('design')" [class.filter-active]="activeFilter === 'design'">Design</li>
</ul><!-- End Projects Filters -->

<div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
    <app-ourprojectbox [ourdata]="ourdata" *ngFor="let ourdata of ourtabfilter;"  [class]="ourdata.class"></app-ourprojectbox>
</div>
<!-- End Projects Container -->

</div>



<!-- Images used to open the lightbox -->
<!-- <div class="row light-grid gy-4 portfolio-container mt-1">
  <div class="column col-md-4">
    <img src="assets/img/projects/remodeling-1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
  </div>
  <div class="column col-md-4">
    <img src="assets/img/projects/construction-1.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow img-fluid">
  </div>
  <div class="column col-md-4">
    <img src="assets/img/projects/repairs-1.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow img-fluid">
  </div>

</div> -->

<!-- The Modal/Lightbox -->
<!-- <div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="assets/img/projects/remodeling-1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="assets/img/projects/remodeling-2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="assets/img/projects/remodeling-3.jpg" style="width:100%">
    </div> -->

   
    <!-- Next/previous controls -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

    <!-- Caption text -->
    <!-- <div class="caption-container">
      <p id="caption"></p>
    </div>
    
  </div>
</div> -->

