<header id="header" class="d-flex align-items-center header-scrolled">
  <div class="container-fluid container-xxl d-flex align-items-center">
    <div id="logo" class="me-auto">
      <a href="index.html" class="scrollto"
        ><img src="assets/img/logo.png" alt="" title=""
      /></a>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a (click)="toHome()" class="nav-link scrollto">Home</a>
        </li>
        <li>
          <a (click)="toAbout()" class="nav-link scrollto">About</a>
        </li>

        <li>
          <a class="nav-link scrollto" (click)="toSpeakers()">Speakers</a>
        </li>
        <li>
          <a class="nav-link scrollto" (click)="toSchedule()">Schedule</a>
        </li>
        <li>
          <a class="nav-link scrollto" (click)="toVenue()">Venue</a>
        </li>
        <li>
          <a class="nav-link scrollto" (click)="toHotel()">Hotels</a>
        </li>
        <li>
          <a class="nav-link scrollto" (click)="toGallery()">Gallery</a>
        </li>
        <li>
          <a class="nav-link scrollto" (click)="toSponsors()">Sponsors</a>
        </li>

        <li>
          <a class="nav-link scrollto" (click)="toContact()">Contact</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <a class="buy-tickets scrollto" (click)="toTicket()">Buy Tickets</a>
  </div>
</header>
<!-- End Header -->
