<section class="sec-5-port">
    <div class="sec5-inner-part" id="Portfolio">
        <div class="sec5-title text-center">
            <h6>Devotal to wonderful beauty</h6>
            <h3 class="pb-3">Our Portfolio</h3>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="text text-center">
                            <div class="icon-part">
                                <i class="lar la-heart" style="color: #054816;"></i>
                            </div>
                            <h4> Shop Flower</h4>
                            <h5>summer sale under 50%</h5>
                            <div class="shop-now-btn">
                                <a href="" class="btn-primary">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/image/ser-card1-img.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/image/ser-card2-img.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/image/ser-card1-img.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/image/ser-card3-img.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/image/ser-card1-img.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>