<section class="banner_area" id="blogdetails">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Blog Details</h2>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="blog.html">Blog</a>
          <a href="single-blog.html">Blog Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img
                class="img-fluid"
                src="assets/img/blog/feature-img1.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="blog_info text-right">
              <app-foodmain></app-foodmain>

              <app-datamain></app-datamain>
              <app-symbolmain></app-symbolmain>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{ content.title }}</h2>
            <p class="excert">
              {{ content.desc }}
            </p>
            <p>
              {{ content.describe }}
            </p>
            <p>
              {{ content.describe }}
            </p>
          </div>
          <div class="col-lg-12">
            <div class="quotes">
              <p class="excert">
                {{ content.desc }}
              </p>
            </div>

            <div class="row">
              <div class="col-6">
                <img
                  class="img-fluid"
                  src="assets/img/blog/post-img1.jpg"
                  alt=""
                />
              </div>
              <div class="col-6">
                <img
                  class="img-fluid"
                  src="assets/img/blog/post-img2.jpg"
                  alt=""
                />
              </div>
              <div class="col-lg-12 mt-25">
                <p>
                  {{ content.desc }}
                </p>
                <p>
                  {{ content.desc }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
            >
              <div class="thumb">
                <a (click)="onblogdertail()"
                  ><img class="img-fluid" src="assets/img/blog/prev.jpg" alt=""
                /></a>
              </div>
              <div class="arrow">
                <a (click)="onblogdertail()"
                  ><span class="lnr text-white lnr-arrow-left"></span
                ></a>
              </div>
              <div class="detials">
                <p>Prev Post</p>
                <a (click)="onblogdertail()"
                  ><h4>Space The Final Frontier</h4></a
                >
              </div>
            </div>
            <div
              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
            >
              <div class="detials">
                <p>Next Post</p>
                <a (click)="onblogdertail()"><h4>Telescopes 101</h4></a>
              </div>
              <div class="arrow">
                <a (click)="onblogdertail()"
                  ><span class="lnr text-white lnr-arrow-right"></span
                ></a>
              </div>
              <div class="thumb">
                <a (click)="onblogdertail()"
                  ><img class="img-fluid" src="assets/img/blog/next.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="comments-area">
          <h4>05 Comments</h4>

          <app-comment></app-comment>
        </div>
        <div class="comment-form">
          <h4>Leave a Reply</h4>
          <form [formGroup]="Leave" #userForm="ngForm" (ngSubmit)="onLeave()">
            <div class="form-group form-inline">
              <div class="form-group col-lg-6 col-md-6 name">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  placeholder="Enter Name"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter Name'"
                />
                <span
                  style="color: red"
                  *ngIf="name && name.invalid && name.touched"
                  >Input field is required</span
                >
              </div>
              <div class="form-group col-lg-6 col-md-6 email">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter email address"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter email address'"
                />
                <span
                  style="color: red"
                  *ngIf="email && email.invalid && email.touched"
                  >Input field is required</span
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="subject"
                formControlName="sub"
                placeholder="Subject"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Subject'"
              />
              <span style="color: red" *ngIf="sub && sub.invalid && sub.touched"
                >Input field is required</span
              >
            </div>
            <div class="form-group">
              <textarea
                class="form-control mb-10"
                rows="5"
                formControlName="message"
                placeholder="Messege"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Messege'"
                required=""
              ></textarea>
            </div>
            <a href="#" class="primary-btn primary_btn" type="submit"
              ><span type="submit">Post Comment</span></a
            >
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Posts"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img rounded-circle"
              src="{{ blogpost.img }}"
              alt=""
            />
            <h4>{{ blogpost.name }}</h4>
            <p>{{ blogpost.desc }}</p>
            <div class="social_icon">
              <a href="#"><i class="{{ blogpost.face }}"></i></a>
              <a href="#"><i class="{{ blogpost.twitter }}"></i></a>
              <a href="#"><i class="{{ blogpost.git }}"></i></a>
              <a href="#"><i class="{{ blogpost.behance }}"></i></a>
            </div>
            <p>
              {{ blogpost.describe }}
            </p>
            <div class="br"></div>
          </aside>
          <app-blogrightmain></app-blogrightmain>
          <aside class="single_sidebar_widget ads_widget">
            <a href="#"
              ><img class="img-fluid" src="assets/img/blog/add.jpg" alt=""
            /></a>
            <div class="br"></div>
          </aside>
          <app-blogrightcategory></app-blogrightcategory>
          <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">{{ news.title }}</h4>
            <p>
              {{ news.content }}
            </p>
            <div class="form-group d-flex flex-row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="inlineFormInputGroup"
                  placeholder="Enter email"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter email'"
                />
              </div>
              <a [attr.href]="news.link" class="bbtns">{{ news.btn }}</a>
            </div>
            <p class="text-bottom">{{ news.desc }}</p>
            <div class="br"></div>
          </aside>
          <app-blogtechmain></app-blogtechmain>
        </div>
      </div>
    </div>
  </div>
</section>
