<!-- ======= Gallery Section ======= -->
<!-- <section id="gallery">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>{{ title }}</h2>
      <p>{{ desc }}</p>
    </div>
  </div>

  <app-galleryinner [value]="data | async"></app-galleryinner> -->
<!-- <div class="swiper-slide">
        <a href="assets/img/gallery/2.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/2.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/3.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/3.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/4.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/4.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/5.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/5.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/6.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/6.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/7.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/7.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/8.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/8.jpg" class="img-fluid" alt=""
        /></a>
      </div> -->
<!-- </section> -->
<!-- End Gallery Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Gallery</h2>
      <p>Check our gallery from the recent events</p>
    </div>
  </div>

  <div
    class="gallery-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events"
  >
    <div class="swiper-wrapper align-items-center" aria-live="off">
      <div class="swiper-slide">
        <a href="assets/img/gallery/1.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/1.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/2.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/2.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/3.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/3.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/4.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/4.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/5.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/5.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/6.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/6.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/7.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/7.jpg" class="img-fluid" alt=""
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="assets/img/gallery/8.jpg" class="gallery-lightbox"
          ><img src="assets/img/gallery/8.jpg" class="img-fluid" alt=""
        /></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
