<div class="mt-150 mb-150">
	<div class="container">
		<div *ngFor="let single of letter">
			<div class="row" *ngIf="single.id == singledetailid">
				<div class="col-lg-8">
					<div class="single-article-section">
						<div class="single-article-text">
							<div [class]="single.class" [style.backgroundImage]="'url(' + single.img + ')'"></div>
							<p class="blog-meta">
								<span class="author"><i [class]="single.icon"></i> {{single.user}}</span>
								<span class="date"><i [class]="single.icon2"></i> {{single.time}}</span>
							</p>
							<h2>{{single.head}}</h2>
							<p>{{single.des}}</p>
							<p>{{single.des1}}</p>
							<p>{{single.des2}}</p>
							<p>{{single.des3}}</p>
						</div>

						<div class="comments-list-wrap">
							<app-singleboxright></app-singleboxright>
						</div>

						<div class="comment-template">
							<h4>{{single.title}}</h4>
							<p>{{single.dis}}</p>
							<form action="index.html" [formGroup]="loginForm" action-method="post" #userForm="ngForm"
								(ngSubmit)="onSubmit()">
								<p>
									<input type="text" ngModel placeholder="Your Name" formControlName="name">
									<span style="color: red" *ngIf="name.invalid && name.touched">Fill this field</span>
									<input type="email" ngModel placeholder="Your Email" formControlName="email">
									<span style="color: red" *ngIf="email.invalid && email.touched">Fill this
										field</span>
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10"
										placeholder="Your Message"></textarea></p>
								<p><input type="submit" value="Submit"></p>
							</form>
						</div>


					</div>
				</div>



				<div class="col-lg-4">
					<div class="sidebar-section" *ngFor="let left of object">
						<app-singleboxleft [left]="left"></app-singleboxleft>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
