button {
  border: none;
  border-radius: 0px;
  background-color: transparent !important;
  font-size: 20px;
  font-weight: 800;
  color: #1e1e1e;
  padding: 0px;
  border: none;
}
li.nav-item {
  border-right: 1px solid #d7d7d7;
  margin-right: 30px;
  padding-right: 30px;
}
.tabs-content ul.nav-tabs li:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}
ul.nav li:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}
.tabs-content .nav-tabs .nav-link.active {
  color: #0071f8;
}
.tabs-content .nav-tabs .nav-link.un {
  color: #1e1e1e;
  border: none;
  border-radius: 0px;
  background-color: transparent !important;
  font-size: 20px;
  font-weight: 800;

  padding: 0px;
}
