<ul class="nav">
  <li class="nav-item" *ngFor="let tab of tabsArray; let sr = index">
    <button
      class="nav-link"
      [ngClass]="activatedTab == sr ? 'active' : ''"
      (click)="setTab(sr)"
    >
      {{ tab }}
    </button>
  </li>
  <!-- <li class="nav-item">
    <button
      class="nav-link"
      id="reviews-tab"
      data-bs-toggle="tab"
      data-bs-target="#reviews"
      type="button"
      role="tab"
      aria-controls="reviews"
      aria-selected="false"
    >
      Reviews (3)
    </button>
  </li> -->
</ul>
