<!-- ======= Hero Section ======= -->

<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">
      {{ title1 }}<br /><span>{{ title2 }}</span> {{ title3 }}
    </h1>
    <p class="mb-4 pb-0">
      {{ desc }}
    </p>
    <a [attr.href]="link" class="glightbox play-btn mb-4"></a>
    <a href="#about" class="about-btn scrollto">About The Event</a>
  </div>
</section>
<!-- End Hero Section -->

<main id="main"></main>
<!-- End #main -->
<app-Header></app-Header>
<app-About></app-About>

<app-Speakers></app-Speakers>
<app-Schedule></app-Schedule>
<app-Venue></app-Venue>
<app-Hotels></app-Hotels>
<app-Gallery></app-Gallery>
<app-Sponsors></app-Sponsors>
<app-FAQ></app-FAQ>
<app-newslatter></app-newslatter>
<app-Contact> </app-Contact>
<app-Ticket></app-Ticket>
<app-Footer></app-Footer>
