<form style="border:5px black ridge; height:300px; width:300px;">

<h1 class="text-center">Login</h1>
<label>UserName</label>
<input class="form-control" type="text" name="UserName" />
<br />
<label>Password</label>
<input class="form-control" type="password" name="Password" />
<br />
<input class="form-control" type="button" value="SUBMIT" />
</form>
